<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <div style="padding: 15px 15px 0 15px">
    <span><b>Revisá la solicitud de documentacion y enviala</b></span>
  </div>

  <ion-toolbar class="toolbar-text">
    <div class="text-container">
      <span>Titulo y descripción ></span>
      <span>Destinatarios ></span>
      <span class="span-1">Enviar</span>
    </div>
  </ion-toolbar>

  <ion-toolbar class="toolbar-input">

    <ion-list>
      <ion-item>
        <ion-label style="white-space: break-spaces;">Titulo: {{ newDocumentation?.solicitud?.titulo }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label style="white-space: break-spaces;">Descripcion: {{ newDocumentation?.solicitud?.descripcion }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Categoria: {{ categoriaSelected?.nombre }}</ion-label>
      </ion-item>
      <!--<ion-item>
        <ion-label>{{ pregunta }}</ion-label>
        <ion-label>{{ opcion }}</ion-label>
      </ion-item>-->
      <ion-item>
        <ion-label>Destinatarios: <b>{{ destinatarios.length }} usuarios</b></ion-label>
      </ion-item>
      <!--<ion-item *ngFor="let destinatario of destinatarios">
        <ion-label>{{ destinatario.usuario.rol }} > {{ destinatario.club.nombre }} > {{ destinatario.disciplina.nombre}}</ion-label>
      </ion-item>-->
    </ion-list>


  </ion-toolbar>

</ion-content>
<ion-footer style="padding: 10px">
  <ion-button color="primary" 
        expand="block" (click)="siguiente()">
        ENVIAR</ion-button>
</ion-footer>