.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  
}

.tab-bar {
  background-color: var(--ion-color-primary);
  height: 60px;

  .recibidas {
    float: left;
    background-color: var(--ion-color-primary);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 14px;
  }

  .enviadas {
    float: left;
    background-color: var(--ion-color-primary);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 14px;
  }


}

.protocolo {
  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 5px;
  width: 95%;
  height: 120px;
  border-bottom: 1px solid rgba($color: black, $alpha: 0.5);

  h3 {
    font-weight: 600;
  }

  span {
    font-size: 18px;
    opacity: 50%;
  }
}

.tab-selected{
  border-bottom: 3px solid white;
}

.hide-tabs{
  display: none;
}