<!-- <ion-header class="ion-no-border">
  <div class="header-container">
    

    <ion-buttons  class="ion-no-margin">
      <ion-button (click)="mostrarPop( $event )">
        <ion-icon name="add-outline" color="light" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </div>
</ion-header> -->
<app-header [titulo]="titulo" [addHeader]="isManager" (action)="mostrarPop( $event )"></app-header>
<ion-toolbar color="primary">
  <ion-segment value="recibidas"  (ionChange)="segmentChanged($event)">
    <ion-segment-button color="light" value="recibidas">
      NUEVAS
    </ion-segment-button>
    <ion-segment-button color="light" value="leidas">
      LEÍDAS
    </ion-segment-button>
    <ion-segment-button *ngIf="isManager" color="light" value="enviadas">
      ENVIADAS
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <ng-container *ngIf="segmentSelected == 'recibidas'">
    <app-recibidas></app-recibidas>
  </ng-container>
  <ng-container *ngIf="segmentSelected == 'leidas'">
    <app-leidas></app-leidas>
  </ng-container>
  <ng-container *ngIf="segmentSelected == 'enviadas'">
    <app-enviadas></app-enviadas>
  </ng-container>
</ion-content>