
<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider sticky="true" style="padding: 0">
      <ion-searchbar placeholder="Buscar" (ionChange)="filterItems($event)" style="padding: 0" ></ion-searchbar>
    </ion-item-divider>
    
    <ng-container *ngFor="let item of solicitudes">
      <ion-item button (click)="gotoSolicitud(item)">
        <ion-avatar slot="start">
          <ion-icon style="color: #0094ff;" *ngIf="item.estadodocumentacionId == 2" name="create-outline"></ion-icon>
          <ion-icon style="color: #ff940c;" *ngIf="item.estadodocumentacionId == 1" name="time-outline"></ion-icon>
          <ion-icon style="color: #38c77f;" *ngIf="item.estadodocumentacionId == 3" name="checkmark-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{item.usuario?.persona?.nombre || ''}} {{item.usuario?.persona?.apellido || ''}} </h2>
          </ion-text>
          <p>{{item.usuario?.persona?.documento || ''}} </p>
          <p><small>{{item.estadodocumentacionId == 3 ? 'Aprobado' : (item.estadodocumentacionId ? 'Pendiente' : 'En revision') }}</small></p>
        </ion-label>
      
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>