.grid-container {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    // border-radius: 15px;
    // border: 2px solid grey;
    display: flex;
    align-items: center;
    height: 200px;
    background-color: white;
  }
  
  .btn-container {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 300px;
    padding: 60px;
  }
  
  .logo-deporte {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 8px;
    margin-bottom: 80px;
  }
  
  .football-icon {
    width: 80%;
    height: 80%;
    color: #fff;
  }
  
  .deportes {
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin-left: 40px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  .football {
    font-weight: 700;
  }
  
  .icon-deporte {
    margin-top: 15px;
    margin-right: 15px;
  }
  
  .text-container {
    padding: 20px;
    height: 90%;
    width: 90%;
    margin-left: 30px;
  }
  
  .confirmado {
    display: flex;
    align-content: center;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 130px;
    margin-top: 20px;
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
  }
  
  .btn-checkmark {
    margin-top: 5px;
    font-size: 15px;
  }
  
  .btn-confirmado {
    margin-left: 10px;
  }
  
  .btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .btn-deportes {
    outline: none;
    border: 2px solid red;
    border-radius: 5px;
    font-family: 'Roboto',
      sans-serif;
  }
  
  ion-avatar{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
  }