.toolbar-text {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;

  .notificacion-text {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }

  span, ion-icon {
    font-size: 12px;
  }

  .span-1 {
    white-space: nowrap;
    color: var(--ion-color-primary);
  }

}


.toolbar-select {
  width: 100%;
  height: 100vh;
}


.title {
  font-family: 'Founders Grotesk';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}


.form {
  ion-select {
    width: 100%;
    font-size: 18px;
  }
}
