<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>

  <ion-toolbar class="toolbar-text">

    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding d-flex a-center">
          <span > Titulo y descripción </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <span class="span-1"> Destinatarios  </span>
          <ion-icon class="span-1" name="chevron-forward-outline"></ion-icon>
          <span> Enviar </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>


  <ion-toolbar class="toolbar-select">

    <div class="form">

      <ion-item>
        <ion-select cancelText="Cancelar" [(ngModel)]="disciplinaSeleccionada" (ionChange)="cambioDisciplina($event)" interface="action-sheet"
          placeholder="Disciplina">
          <ion-select-option *ngFor="let disciplina of listDisciplina" [value]="disciplina">
            {{disciplina.disciplina.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="mostrarDivisiones">
        <ion-select cancelText="Cancelar" [(ngModel)]="divisionSeleccionada" (ionChange)="cambioDivision($event)" interface="action-sheet"
          placeholder="División">
          <ion-select-option *ngFor="let division of listDivisiones" [value]="division">{{division.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="mostrarPosiciones">
        <ion-select cancelText="Cancelar" [(ngModel)]="posicionSeleccionada" (ionChange)="cambioPosicion($event)" interface="action-sheet" placeholder="Posición">
          <ion-select-option *ngFor="let posicion of listPosiciones" [value]="posicion">{{posicion.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="mostrarUsuarios">
        <ion-select cancelText="Cancelar" [(ngModel)]="usuarioSeleccionado" multiple="false" interface="action-sheet" placeholder="Seleccionar socios">
          <ion-select-option *ngFor="let usuario of listUsuarios" [value]="usuario">{{usuario.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      

    </div>
  </ion-toolbar>

</ion-content>
<ion-footer style="padding: 10px">
  <ion-button type="submit" [disabled]="!formularioValido()" color="primary" 
        expand="block" (click)="siguiente()">
        CONTINUAR</ion-button>
</ion-footer>