ion-fab-button {
  --background: #d90000;
  --background-activated: #da3333;
}

ion-footer{
  height: 60px;
  background: #FFFFFF;
}

.redes {
  background-color: #222428;
  padding: 0px 10px;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);

  ion-icon {
    color: #f4f5f8;
    text-align: right;
  }

  ion-fab-button {
    --background: #222428;
    --background-activated: #222428;
  }

  .club {
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
    color: #f4f5f8;
  }
}

.ocultarRedes {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.mostrarRedes {
  background-color: #222428;
  height: 140px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);
  border-radius: 0px 0px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon {
    height: 15px;
  }
}

.redesSociales {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  ion-fab-button {
    margin: 3px;
    height: 25px;
    width: 25px;
    --background: #d90000;
  }
}

.notificaciones {
  display: flex;
  justify-content: space-between;

  margin: 30px;

  span {
    font-weight: 700;
  }
}

.cuotas {
  margin: 30px;

  p {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
  }

  span {
    opacity: 50%;
  }
}

.elegirDeporte {
  margin: 20px;

  h3 {
    margin-top: 50px;
    font-weight: 700;
  }

  .deportes {
    display: flex;
    justify-content: space-between;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;

      ion-icon {
        margin-top: 15px;
        padding: 10px;
        font-size: 60px;
      }
    }
  }

}

.turnos {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h3 {
    margin-top: 50px;
    font-weight: 700;
  }

  span {
    margin-top: 35px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
}

.grid-container {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  height: 100px;
  background-color: white;
}

.logo-deporte {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}


.turnoContainer {
  background-color: #fff;
  width: 90%;
  height: 120px;
  margin-left: 40px;
  border-radius: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);

  .calendario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-left: 50px;
    margin-top: 30px;

    ion-icon {
      font-size: 20px;
      margin-right: 5px;
    }

    ion-col {
      margin-bottom: 5px;
    }

    span {
      color: rgba($color: #000000, $alpha: 0.6);
      font-size: 18px;
    }

  }
}

.beneficioContainer {
  width: 100%;
  height: 50px;
  background: linear-gradient(white,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3));
}

.beneficios {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;

  h3 {
    margin-top: 10px;
    font-weight: 700;
  }

  span {
    margin-top: 5px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }
}

.icon-categorias {
  font-size: 64px;
}

.ver-mas {
  font-size: 12px;
  line-height: 14px;
  color: #D90000 !important;
  text-decoration: underline;
}

.deportes {
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
  border-radius: 8px;
}

.text-container {
  padding: 15px 30px;
  margin-left: 20px;
}

.text-container h6 {
  display: flex;
  align-items: center;
}

.text-container h6.time {
  font-size: 12px;
}


.descripcion-tarjeta {
  opacity: 70%;
  text-transform: capitalize;
}
.football-icon {
  width: 80%;
  height: 80%;
  color: #fff;
}
.logo-deporte {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  top: 14px;
}

.btn-holder {
  background: #d90000 !important;
  color: white !important;
  font-size: 14px !important;
  margin:5px;
  height: 100%;
  width: 80%;

  &[disabled] {
    opacity: 1;
    --ion-color-base: grey;
  }
}

.turnos{
  color:black;
  margin: 0;
  padding: 10px 0 10px 10px;
  display: flex;
  min-width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  align-items: center;
}

.turnos .turno{
  background: white;
  margin: 5px;
  border-radius: 6px;
  padding: 5px 10px;
  justify-content: center;
  display: inline-flex;
  flex-wrap: nowrap;
  width: auto !important;
  flex: 1 0 auto;
}

.turno.turn-selected{
  background: var(--ion-color-primary) !important;
  color: var(--ion-color-primary-contrast) !important;
}

.time, .day-wrapper{
  display: flex;
  align-items: center;
}

h6{
  margin: 5px !important;
}

.price-wrapper{
  border-top: 1px solid #d4d4d4;
    padding: 10px;
    text-align: center;
}

.header-turno{
  background: var(--ion-color-primary) !important;
  border-radius: 0 0 30px 30px;
  padding: 5px 5px 20px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.header-turno img{
  height: 60px;
  border-radius: 6px;
  margin-right: 12px;
  box-shadow: 0 8px 12px rgb(0 0 0 / 10%);
}

.header-turno h5{
  margin-top: 0 !important;
  color: white;
  font-size: 16px;
  opacity: 1 !important;
}

.header-turno h6{
  margin: 0 !important;
  color: white;
  font-size: 12px;
  opacity: 1 !important;
}

.btn-month{
  background: transparent !important;
  color: #202020;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 30px;
}

.btn-month .icon-btn{
  --box-shadow: none !important;
  --background: transparent !important;
  --color: #202020;
  --border-radius: 60px !important;
}

.days-wrapper{
  display: flex;
    flex-wrap: nowrap;
    max-width: 100vw;
    overflow-x: auto;
    padding: 10px 0;
    margin-top: 20px;
}

.days-wrapper .day{
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vw;
    padding: 5px;
    background: white;
    margin: 6px;
    width: auto;
    border-radius: 7px;
    flex: 1 0 13vw;
    justify-content: space-around;
}

.days-wrapper .day span{
  opacity: .5;
}

.days-wrapper .day b{
  font-size: 22px;
}

.days-wrapper .day.disabled{
  background: #C4C4C4;
  color: white;
}

.days-wrapper .day.disabled b{
  opacity: .6;
}

.days-wrapper .day.selected{
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  box-shadow: 0 5px 9px rgba(0,0,0,0.15);
}

.days-wrapper .day.selected span{
  opacity: .9;
}

.times-wrapper{
  display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    padding: 0 10px;
    justify-content: space-around;
}


.times-wrapper .time{
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    background: white;
    margin: 6px;
    border-radius: 20px;
    justify-content: center;
    width: calc(50% - 15px);
}

.times-wrapper .time.selected{
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  box-shadow: 0 5px 9px rgba(0,0,0,0.15);
}

.label-footer{
  padding-left: 15px;
}