<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
  
</ion-header>

<ion-content>
  <div class="header-turno">
    <img style="height: 60px" src="{{espacio?.image}}" alt="football">
    <div class="text-header">
      <h5 class="descripcion-tarjeta"><b>{{espacio?.nombre}} </b> </h5>
      <h6 class="descripcion-tarjeta">{{club?.nombre}}</h6>
    </div>
  </div>

  <!-- <ion-item>
    <ion-label>Fecha de reserva</ion-label>
    <ion-datetime [(ngModel)]="fecha" (ionChange)="changeTime($event)" dayShortNames="Lun, Mar, Mie, Jue, Vie, Sab, Dom"  displayFormat="DD MMM" monthShortNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"></ion-datetime>
  </ion-item> -->
  <p style="margin: 0; padding: 10px; text-align: center;">
    Elegí una fecha para reservar
  </p>
  <div class="d-flex j-center a-center">
    <div class="btn-month d-flex j-between a-center">

      <ion-button [disabled]="thisMonthConstant == currentMonth" (click)="prevMonth()" class="icon-btn">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      
      {{currentMonth}}

      <ion-button (click)="nextMonth()" class="icon-btn">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="days-wrapper">
    <ng-container *ngFor="let day of days">
      <div (click)="selectDay(day.number)" class="day {{day.disabled ? 'disabled' : ''}} {{day.selected ? 'selected' : ''}}">
        <span>{{day.shortName}}</span>
        <b>{{day.number}}</b>
      </div>
    </ng-container>
    
  </div>
  <p style="margin: 10px 0; padding: 10px; text-align: center;">
    {{ !daySelected ? 'Elegí un día para ver los turnos disponibles' : 'Turnos disponibles'}}
  </p>

  <div class="times-wrapper">
    <ng-container *ngFor="let time of times">
      <div (click)="selectTime(time)" class="time  {{time.selected ? 'selected' : ''}}">
        <span>{{time.inicio}} - {{time.final}}</span>
      </div>
    </ng-container>
   
    <br>
    <div class="empty-info" *ngIf="daySelected && times && times.length == 0">
      No hay horarios disponibles para el día seleccionado
    </div>
  </div>

</ion-content>
<ion-footer>

    <ion-row>
          <ion-col size="7" >
            <div class="label-footer">
              <div class="day-wrapper">
                <ion-icon style="margin-right: 5px;" name="calendar-outline"></ion-icon>  
                {{fecha ? fecha : 'Sin fecha'}}
              </div>
              <small class="time">
                <ion-icon style="margin-right: 5px;" name="time-outline"></ion-icon>
                <span>{{turno.horaDesde && turno.horaHasta ? turno.horaDesde + '-' + turno.horaHasta : 'Elige un horario..'}}</span>
              </small>
            </div>
            
          </ion-col>
          <ion-col size="5">
             <ion-button color="primary" [disabled]="!turno || !turno.horaDesde || !turno.horaHasta " (click)="turnoConfirmado()">
              Cotinuar
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-col>
      </ion-row>


</ion-footer>

