ion-icon {
    color: #92949C
}

.red {
    --background: var(--ion-color-primary); 
    padding-top: 15px;
    height: 100%;
}

ion-header {
    height: 103px;

}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 20px;
}

.container-header-2{
    flex-direction: column;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.img-wrapper {
    width: 40px;
    height: 40px;
}

.texto {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    color: var(--ion-color-primary-contrast);
}
.principal {
    font-size: 18px;
    margin-bottom: 5px;
}

.secundario {
    font-size: 14px;
    margin-top: -10px;
}

.hidden-item{
    opacity: 0;
}