<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>


<ion-content>
  <ion-toolbar class="toolbar-text">

    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding d-flex a-center">
          <span class="span-1"> Titulo y descripción </span>
          <ion-icon class="span-1" name="chevron-forward-outline"></ion-icon>
          <span> Destinatarios  </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <span> Enviar </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>

  <form [formGroup]="form" (ngSubmit)="siguiente()">
    <ion-item>
      <ion-input formControlName="titulo" type="text" placeholder="Titulo" style="font-size: 18px;">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="descripcionL"  placeholder="Descripción larga" style="font-size: 18px;">
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="categorias">
      <ion-select interface="action-sheet" formControlName="categoria" placeholder="Categoria"
        style="font-size: 18px; width: 100%;">
        <ion-select-option *ngFor="let item of categorias" [value]="item">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

  
  </form>

</ion-content>
<ion-footer style="padding: 10px">
  <ion-button  [disabled]="form.invalid" color="primary" 
        expand="block" (click)="siguiente()">
        CONTINUAR</ion-button>
</ion-footer>