
.toolbar-text {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;

  .notificacion-text {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }

  span, ion-icon {
    font-size: 12px;
  }

  .span-1 {
    white-space: nowrap;
    color: var(--ion-color-primary);
  }

}

form .btn-holder {
  background: var(--ion-color-primary) !important;
  color: white !important;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  font-size: 14px !important;

  &[disabled] {
    opacity: 1;
    --ion-color-base: grey;
  }
}

form {
  ion-select {
    width: 100%;
    font-size: 18px;
  }
}
