.contenedor {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin-top: 15px;
  padding: 0;
}


.toolbar-text {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;

  .notificacion-text {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }

  span, ion-icon {
    font-size: 12px;
  }

  .span-1 {
    white-space: nowrap;
    color: var(--ion-color-primary);
  }

}

form {

  .btn-holder1 {
    --background: none;
    --ion-color-primary: var(--ion-color-primary);
    --border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

  .btn-holder {
    background: var(--ion-color-primary) !important;
    color: white !important;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px !important;

    &[disabled] {
      opacity: 1;
      --ion-color-base: grey;
    }
  }

}

.button-wrapper{
  margin-top: 20px;
  padding: 20px;
}
