<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-toolbar class="toolbar-text">
    <ion-grid>
  
      <ion-row>
        <ion-col class="ion-no-padding d-flex a-center">
          <span> Titulo y descripción </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <span class="span-1">Preguntas </span>
          <ion-icon class="span-1" name="chevron-forward-outline"></ion-icon>
          <span > Destinatarios  </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <span> Enviar </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>

  <ion-toolbar class="toolbar-input">

    <form [formGroup]="form" (ngSubmit)="siguiente()">

      <div class="questions-wrapper">
        <ng-container *ngFor="let pregunta of preguntas; let i = index" >
          <app-pregunta (addOption)="agregarOpcion($event)" [pregunta]="pregunta" [i]="i"></app-pregunta>
        </ng-container>
      </div>
     
      <div class="button-wrapper">
        <ion-button (click)="agregarPregunta()"  expand="block" color="primary" fill="outline">
          AGREGAR PREGUNTA</ion-button>
          <br>
 
      </div>

      

    </form>

  </ion-toolbar>

</ion-content>
<ion-footer style="padding: 10px">
  <ion-button  color="primary" 
        expand="block" (click)="siguiente()">
        CONTINUAR</ion-button>
</ion-footer>