<ion-header class="ion-no-border">
  <app-header titulo="Documentación"></app-header>
</ion-header>


<ion-content *ngIf="solicitud">
  <div class="icon-wrapper">
      <ion-icon style="color: #fff; font-size: 70px;" name="checkmark-circle-outline"></ion-icon>
      <h1>Aprobado</h1>
  </div>
  <div class="container">
    <h2>{{solicitud.titulo}}</h2>
    <p>{{solicitud.categoria}}</p>
    <br>
    <p >Documentacion de: <span class="capitalize">{{solicitud.documentacionDe}}</span> </p>
    <p>Enviado el: {{getFecha(solicitud.fecha)}} - {{solicitud.hora}}hs</p>
    <p>Estado: <span class="capitalize">{{solicitud.estadoDocumentacion}}</span></p>
    <p >Enviada por: <span class="capitalize">{{solicitud.enviadopor}}</span> </p>

    <hr>

    <h4>Documentación</h4>

    <div class="files-list">

      <ng-container *ngFor="let doc of solicitud.documentacion" >

        <div *ngIf="typeOfDoc(doc.titulo) == 'image'" class="file file-image" >
          <div (click)="downloadFile(doc.pathFile)">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.188" height="37.584" viewBox="0 0 28.188 37.584">
              <path id="file-image-solid" d="M28.188,8.951V9.4h-9.4V0h.445a1.762,1.762,0,0,1,1.246.516l7.19,7.19A1.762,1.762,0,0,1,28.188,8.951ZM18.2,11.745a1.767,1.767,0,0,1-1.762-1.762V0H1.762A1.762,1.762,0,0,0,0,1.762V35.823a1.762,1.762,0,0,0,1.762,1.762H26.427a1.762,1.762,0,0,0,1.762-1.762V11.745ZM8.262,12.92a3.524,3.524,0,1,1-3.524,3.524A3.524,3.524,0,0,1,8.262,12.92ZM23.53,30.537H4.738l.036-3.559,2.9-2.9a.839.839,0,0,1,1.21.036l2.9,2.9,7.6-7.6a.881.881,0,0,1,1.246,0l2.9,2.9v8.222Z" fill="#707070"/>
            </svg>
            <div class="text">
              {{doc.titulo}}
            </div>
          </div>
         
        </div>

        <div *ngIf="typeOfDoc(doc.titulo) == 'pdf'" class="file file-pdf" >
          <div (click)="downloadFile(doc.pathFile)">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.188" height="37.584" viewBox="0 0 28.188 37.584">
              <path id="file-pdf-solid" d="M13.353,18.8c-.367-1.175-.36-3.443-.147-3.443C13.823,15.357,13.764,18.066,13.353,18.8Zm-.125,3.465a33.872,33.872,0,0,1-2.085,4.6,27.03,27.03,0,0,1,4.617-1.608,9.509,9.509,0,0,1-2.533-3ZM6.32,31.426c0,.059.969-.4,2.562-2.951C8.39,28.937,6.746,30.273,6.32,31.426ZM18.2,11.745h9.983V35.823a1.758,1.758,0,0,1-1.762,1.762H1.762A1.758,1.758,0,0,1,0,35.823V1.762A1.758,1.758,0,0,1,1.762,0H16.443V9.983A1.767,1.767,0,0,0,18.2,11.745Zm-.587,12.611a7.368,7.368,0,0,1-3.134-3.949c.33-1.358.852-3.421.455-4.713a1.839,1.839,0,0,0-3.509-.5c-.367,1.343-.029,3.237.595,5.652a68.931,68.931,0,0,1-3,6.3c-.007,0-.007.007-.015.007-1.989,1.02-5.4,3.267-4,4.992a2.281,2.281,0,0,0,1.578.734c1.314,0,2.621-1.321,4.485-4.537a41.843,41.843,0,0,1,5.8-1.7,11.125,11.125,0,0,0,4.7,1.431,1.9,1.9,0,0,0,1.446-3.186C22,23.887,19.034,24.173,17.618,24.356ZM27.675,7.708,20.481.514A1.76,1.76,0,0,0,19.233,0h-.44V9.4h9.4V8.948A1.756,1.756,0,0,0,27.675,7.708ZM22.235,26.449c.3-.2-.184-.874-3.142-.661C21.817,26.948,22.235,26.449,22.235,26.449Z" fill="#707070"/>
            </svg>
            <div class="text">
              {{doc.titulo}}
            </div>
          </div>
         
        </div>

        <div *ngIf="typeOfDoc(doc.titulo) == 'text'" class="file file-word" >
          <div (click)="downloadFile(doc.pathFile)">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.188" height="37.584" viewBox="0 0 28.188 37.584">
              <path id="file-word-solid" d="M16.443,9.983V0H1.762A1.758,1.758,0,0,0,0,1.762V35.823a1.758,1.758,0,0,0,1.762,1.762H26.427a1.758,1.758,0,0,0,1.762-1.762V11.745H18.2A1.767,1.767,0,0,1,16.443,9.983Zm4.192,8.809h1.754a.881.881,0,0,1,.859,1.079L20.459,32.2a.873.873,0,0,1-.859.683H16.81a.88.88,0,0,1-.852-.668c-1.894-7.6-1.527-5.961-1.879-8.111h-.037c-.081,1.05-.176,1.277-1.879,8.111a.88.88,0,0,1-.852.668H8.589a.879.879,0,0,1-.859-.69L4.955,19.864a.878.878,0,0,1,.859-1.072h1.8a.88.88,0,0,1,.866.712c1.145,5.726,1.475,8.038,1.542,8.97.117-.749.536-2.4,2.158-9.007a.874.874,0,0,1,.859-.668h2.136a.88.88,0,0,1,.859.675c1.762,7.37,2.114,9.1,2.173,9.5-.015-.822-.191-1.307,1.586-9.484A.851.851,0,0,1,20.635,18.792Zm7.554-9.844V9.4h-9.4V0h.448a1.76,1.76,0,0,1,1.248.514l7.187,7.194A1.756,1.756,0,0,1,28.188,8.948Z" fill="#707070"/>
            </svg>
            <div class="text">
              {{doc.titulo}}
            </div>
          </div>
         
        </div>

      </ng-container>
    

    </div>
  </div>
</ion-content>

<ion-footer *ngIf="isManager" style="padding: 10px">
 

  <div class="actions" *ngIf="isManager && solicitud && solicitud.estado == 'pendiente'"> 

    <ion-button  color="danger" 
        expand="block" (click)="refuse()">
        RECHAZAR</ion-button>

        <ion-button  color="success" 
        expand="block" (click)="accept()">
        APROBAR</ion-button>
  </div>
</ion-footer>
