.sup {
  background-color: var(--ion-color-primary);
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.searchbar {
  --background: var(--ion-color-primary-contrast);

}

.img-wrapper{
  background: rgb(238, 238, 238);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.row-container {
  width: 100%;
}

.parrafo {
  margin-left: 5px;
  padding: 2px;
}

.titulo-beneficios {
  margin: 15px;

  h3 {
    font-weight: 700;
  }
}

.title {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subtitle {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.subtitle {
  p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.card-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.card {
  border-radius: 10px;
  width: 100%;
  margin: 0 !important;
}


.img {
  width: auto;
  height: auto;
}

.seleccionado {
  background-color: var(--ion-color-primary) !important;
  color: var(--ion-color-primary-contrast);
  border-color: var(--ion-color-primary);
}

.chips-wrapper{
  display: flex;
  min-width: 100%;
  overflow-x: scroll;
  height: 50px;
  flex-wrap: nowrap;
  align-items: center;
}

.chips-wrapper::-webkit-scrollbar{
  display: none;
}

.chips-wrapper ion-chip{
  display: inline-flex;
    flex-wrap: nowrap;
    width: auto !important;
    flex: 1 0 auto;
}

