<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
  <div class="sup">
    <ion-searchbar [(ngModel)]="searchbar" class="searchbar" placeholder="Buscar" (ionChange)="filterList($event)">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content padding>

   <div class="chips-wrapper">
    <ion-chip class="{{this.rubroSeleccionado?.id === 0 || !this.rubroSeleccionado ? 'seleccionado' : ''}}" outline color="dark" (click)="selectedTodos({
      id: 0,
      nombre: 'Todos los beneficios'
    })">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Todos los beneficios</ion-label>
    </ion-chip>
    <ng-container *ngFor="let item of rubros">
      <ion-chip  [ngClass]="{'seleccionado': this.rubroSeleccionado?.id === item.id}" *ngIf="haveItems(item)" outline color="dark"
          (click)="selectedRubro(item)">
          <ion-icon name="apps"></ion-icon>
          <ion-label>{{item.nombre}}</ion-label>
      </ion-chip>
    </ng-container>
  </div>
  <ion-row padding>
    <ion-col *ngFor="let item of beneficios"  size="6" (click)="goToDetalle(item)">
      <ion-card class="card card-beneficio">
        <ion-card-content class="ion-no-padding">
          <div class="img-wrapper">
            <img [src]="item.beneficio?.pathImage ? item.beneficio.pathImage : 'assets/img/no-image-available.png'" onError="this.src='./assets/img/espacio-empty.jpeg'" class="img">
          </div>
          <ion-card-title class="title mt-3">{{item.beneficio.nombre}} </ion-card-title>
          <ion-card-subtitle class="subtitle mt-3 mb-3" [innerHTML]="item.beneficio.descripcion"></ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
    
      <div class="empty-info" *ngIf="!beneficios || (beneficios && beneficios.length == 0)">
        No hay beneficios que coincidan con la búsqueda
      </div>

  </ion-row> 
</ion-content>
