<ion-toolbar color="primary" class="toolbar ion-no-border">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" text="">
    </ion-back-button>
  </ion-buttons>
  <ion-title>{{ titulo }}</ion-title>
  <ion-buttons  slot="end" class="ion-no-margin">
    <ion-button *ngIf="addHeader" (click)="onAction($event)">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>