<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>

  <ion-toolbar class="toolbar-text">

    <ion-grid>
      <ion-row>
        <ion-col class="ion-no-padding d-flex a-center">
          <span class="span-1"> Titulo y descripción </span>
          <ion-icon class="span-1" name="chevron-forward-outline"></ion-icon>
          <span >Preguntas </span>
          <ion-icon  name="chevron-forward-outline"></ion-icon>
          <span> Destinatarios  </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <span> Enviar </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>


  <form [formGroup]="form" (ngSubmit)="siguiente()">
    <ion-item>
      <ion-input formControlName="titulo" type="text" placeholder="Titulo de la encuesta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="descripcion" type="text" placeholder="Descripción"></ion-input>
    </ion-item>




  </form>

</ion-content>
<ion-footer style="padding: 10px">
  <ion-button  [disabled]="form.invalid" color="primary" 
        expand="block" (click)="siguiente()">
        CONTINUAR</ion-button>
</ion-footer>