.contenedor {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin-top: 15px;
  padding: 0;
}


.toolbar-text {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;

  .text-container {
    display: flex;
    flex-direction: row;

    span {
      font-size: 13px;
    }

    .span-1 {
      white-space: nowrap;
      color: var(--ion-color-primary);
    }
  }
}


.toolbar-input {
  width: 100%;

  .input {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 10px;
  }
}


.footer {
  width: 90%;
  height: 300px;
  margin: auto;

  .footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    width: 100%;
    height: 100%;

    button {
      background-color: red;
      width: 100%;
      height: 40px;
      border-radius: 8px;
      color: white;
    }
  }
}



ion-back-button, ion-title{
  --color: white !important;
}




.title {
font-family: 'Founders Grotesk';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.img {
width: 330px;
max-height: 75px;
}


.textoAcceso {
margin-top: 20px;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #ffffff;
}

ion-button {
background: var(--ion-color-primary) !important;
color: white !important;
border-radius: 8px;
}

ion-card {
margin-left: 15px;
margin-right: 15px;
margin-top: 20px;
}


ion-footer {

.img {
    width: 150px;
}
}
