<ion-content>
  <ion-row>
    <ion-col size="12" *ngFor="let item of activos" >
      <ion-row>
        <ion-col size="1">
          <div class="logo-deporte">
            
            <img class="icon-categorias football-icon" src="{{getEspacioById(item.espacioId)?.image}}"  alt="">
          </div>
        </ion-col>
        <ion-col size="11">
          <div class="deportes">
            <div class="text-container">
              <h6 class="ion-no-margin"><b> <ion-icon name="calendar-outline"></ion-icon> {{ getFecha(item.fechaInicio) }}</b></h6>
              <small class="d-flex a-center" style="padding: 3px 0"> <ion-icon name="time-outline" style="margin-right: 4px"></ion-icon> De {{ getHour(item.desde) }} a {{ getHour(item.hasta) }} hs</small>
              <p class="ion-no-margin">
                {{getEspacioById(item.espacioId)?.nombre}}
              </p>
             
            </div>
            <div class="buttons-wrapper">
              <ion-button class="btn-cancel" (click)="cancelarTurno(item)">Cancelar turno</ion-button>
              <ion-button class="btn-goturn" (click)="turnoConfirmado(item.id, item.espacioId)">Ver turno</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>

    <div class="empty-info" *ngIf="!activos || (activos && activos.length == 0)">
      No hay turnos para mostrar.
  </div>

  </ion-row>
  <!-- <ion-row>
    <ion-col size="12" (click)="turnoConfirmado(1)">
      <ion-row>
        <ion-col size="2">
          <div class="logo-deporte">
            <ion-icon name="football-outline" class="football-icon"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="deportes">
            <div class="text-container">
              <ion-text class="football"><b> 30/06/2021 </b> 09:00 a 12:00</ion-text>
              <h6 class="ion-no-margin descripcion-tarjeta">Cancha de futbol 5</h6>
              <ion-col size="2">
              </ion-col>
              <ion-row class="ion-align-items-start">
                <ion-col>
                </ion-col>
                <ion-col class="cancelado">
                  Turno cancelado
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row> -->
</ion-content>
