.grid-container {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  height: 200px;
}

.btn-container {
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 300px;
  padding: 60px;
}

.logo-deporte {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  top: 15px;
  box-shadow: 0 4px 2px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}

.football-icon {
  min-width: 100%;
  height: 100%;
  color: #fff;
}

.deportes {
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
  border-radius: 8px;
}

.football {
  font-weight: 700;
}

.icon-deporte {
  margin-top: 15px;
  margin-right: 15px;
}

.text-container {
  padding: 15px 0 0 0;
  margin-left: 64px;
}



.btn-checkmark {
  margin-top: 5px;
  font-size: 15px;
}

.btn-confirmado {
  margin-left: 10px;
}

.btn-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-deportes {
  outline: none;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 5px;
  font-family: 'Roboto',
    sans-serif;
}

.title-card {
  font-size: 16px !important;
}

.icon-card {
  font-size: 45px !important;
}

.texto-blanco {
  color: #fff !important;
}

.asistencia-titulo {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white !important;
}

.descripcion-tarjeta {
  opacity: 50%;
}

.ultimos-ingresos {
  font-size: 20px !important;
  line-height: 24px !important;
}
  
  .confirmado {
    background: var(--ion-color-primary);
    border-radius: 4px;
  }

  .cancelar{
  

    background: transparent;
    border-radius: 4px;
  }

  .cancelado {
  
    /* Rojo club */
    color:white;
    background: #000000;
    border-radius: 4px;
  }
  
  .buttons-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }

  .buttons-wrapper ion-button{
    --box-shadow: none !important;
    --font-size: 11px;
    font-size: 11px;
  }

  .buttons-wrapper .btn-cancel{
    --background: transparent;
    --color: black;
    border: 1px solid rgba(0,0,0,0.1);
  }
