.grid-container {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    height: 200px;
}

.btn-container {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 300px;
    padding: 60px;
}

.logo-deporte {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    width: 104px;
    height: 80px;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    top: 20px;
    overflow: hidden;
}

.football-icon {
    width: 80%;
    height: 80%;
    color: #fff;
}

.deportes {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
    border-radius: 8px;
}

.football {
    font-weight: 700;
}

.icon-deporte {
    margin-top: 15px;
    margin-right: 15px;
}

.text-container {
    padding: 25px;
    margin-left: 40px;
}

.confirmado {
    display: flex;
    align-content: center;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 130px;
    margin-top: 20px;
    outline: none;
    border: 2px solid var(--ion-color-primary);;
    border-radius: 5px;
}

.btn-checkmark {
    margin-top: 5px;
    font-size: 15px;
}

.btn-confirmado {
    margin-left: 10px;
}

.btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn-deportes {
    outline: none;
    border: 2px solid var(--ion-color-primary);;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.title-card {
    font-size: 16px !important;
    color: var(--ion-color-primary-contrast);
    background: var(--ion-color-primary);
}

.card-primary{
    background: var(--ion-color-primary);
}

.icon-card {
    font-size: 40px !important;
}

.texto-blanco {
    color: #fff !important;
}

.asistencia-titulo {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white !important;
}

.descripcion-tarjeta {
    opacity: 50%;
}

.ultimos-ingresos {
    font-size: 20px !important;
    line-height: 24px !important;
}
