<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngIf="isManager" size="6">
      <ion-card class="texto-blanco card-alto card-primary" (click)="gotoEspacios(true)">
        <ion-card-content class="d-flex a-center j-between" style="height: 100%">
          <div class="title-card">Ver QR de espacios</div>
          &nbsp;
          <ion-icon class="icon-qr" name="qr-code-outline" style="color: white !important; font-size: 15vw;"></ion-icon>
        </ion-card-content>
       
      </ion-card>
    </ion-col>

    <ion-col size="{{isManager ? 6 : 12}}">
      <ion-card class="texto-blanco card-alto card-primary" (click)="gotoEspacios(false)">
        <ion-card-content class="d-flex a-center j-between" style="height: 100%">
          <div class="title-card">Asistencias</div>
          &nbsp;
          <ion-icon class="icon-qr" name="checkmark-done-outline" [ngStyle]="{'font-size': isManager ? '15vw' : '8vw'}" style="color: white !important;"></ion-icon>
        </ion-card-content>
       
      </ion-card>
    </ion-col>
    
   
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-padding-start">
      <h2 class="ultimos-ingresos">Últimos Ingresos</h2>
    </ion-col>
    <ion-col size="12" *ngFor="let item of ingresos">
      <ion-row >
        <ion-col size="2">
          <div class="logo-deporte">
            <img style="height: 100%; max-width: 100vw" [src]="item?.espacio?.image">
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="deportes">
            <div class="text-container">
              <h6 class="ion-no-margin">
                <b style="text-transform: capitalize">{{item.usuario?.persona?.nombre}} {{item.usuario?.persona?.apellido}}</b>
              </h6>
              <h6 class="ion-no-margin descripcion-tarjeta">
                {{item.espacio?.nombre}}
              </h6>
              <p class="d-flex a-center ion-no-margin descripcion-tarjeta"> <ion-icon name="calendar-outline"></ion-icon> &nbsp; {{getFecha(item.fecha)}}</p>
              <p class="d-flex a-center ion-no-margin descripcion-tarjeta"> <ion-icon name="time-outline"></ion-icon> &nbsp; {{item.hora}}hs</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" *ngIf="!ingresos || (ingresos && ingresos.length == 0)">
      <div class="empty-info" >
        No se realizo ningún ingreso
      </div>
    </ion-col>

  </ion-row>

  <ion-fab (click)="goToScan()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
