.sup {
  background-color: var(--ion-color-primary);
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.searchbar {
  --background: var(--ion-color-primary-contrast);
  --color: var(--ion-color-primary);
}
