<ion-header class="ion-no-border">
  <app-header [titulo]="espacio?.nombre" ></app-header>
  <div class="sup">
    <ion-searchbar [(ngModel)]="searchbar" class="searchbar" placeholder="Buscar" (ionChange)="filterList($event)">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <ion-row class="ion-padding">
    <h4 class="d-flex a-center j-between w-100" style="margin: 0">
      <span>Últimos ingresos</span>
      <ion-icon (click)="popFilter()" name="filter-outline"></ion-icon>
    </h4>
    <br>
  </ion-row>
  <ion-list>
    <ng-container *ngFor="let group of ingresos">
      <ion-item-divider style="background: white;">
        <ion-label>
          {{group.formatedDate}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let item of group.items">
        <ion-avatar slot="start">
          <img src="assets/img/logoUser.png" />
        </ion-avatar>
        <ion-label>
          <h6 style="text-transform: capitalize"><b>{{item.usuario?.persona?.nombre}} {{item.usuario?.persona?.apellido}}</b></h6>
          <p class="d-flex a-center"> <ion-icon name="calendar-outline"></ion-icon> &nbsp; {{getFecha(item.fecha)}}</p>
          <p class="d-flex a-center"> <ion-icon name="time-outline"></ion-icon> &nbsp; {{item.hora}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    
  </ion-list>
  <div class="empty-info" *ngIf="!ingresos || (ingresos && ingresos.length == 0)">
    No hay ingresos que mostrar.
  </div>
  
</ion-content>
