<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <form  class="sup" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    
    <div class="img-wrapper">
      <img id="avatar" class="img"  [src]="usuario?.persona?.avatar" onerror="this.src = './assets/img/logoUser.png'" >
    </div>
    <ion-fab-button size="small" class="fab" (click)="addPhoto()">
      <ion-icon style="font-size: 16px" name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
    <input id="inputPhoto" accept="image/*" name="profile" (change)="onFileSelect($event)" style="visibility: hidden; position: fixed;"  type="file" />
  </form>
  <div class="contenedor">
    <p class="nombre">{{ usuario?.persona?.nombre }} {{ usuario?.persona?.apellido }}</p>
    <p class="club">{{ club?.nombre }}</p>
    <div class="rol">
      <p>{{ userInfo.rol }}</p>
    </div>
  </div>
  <ion-list>

    <ion-item *ngFor="let item of acciones" [routerLink]="item.redirect" button detail>
      <ion-label>
        {{ item.nombre }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>