.sup {
  background-color: var(--ion-color-primary);
  border-radius: 0px 0px 24px 24px;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.img {
  height: auto;
  width: auto;
}


.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.nombre {
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.club {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #92949c;
  margin-top: -10px;
}

.rol {
  border: 2px solid var(--ion-color-primary);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: -10px;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: var(--ion-color-primary);
    margin: 0px 10px;
  }
}

ion-list {
  margin-top: 20px;
}

.fab{
  position: fixed;
  transform: translate(43px, 53px);
  font-size: 10px;
}

.img-wrapper{
  width: 110px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
      background-color: var(--ion-color-primary-contrast);
}