
<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div class="up-content">
     
      <img src="/assets/img/splash/imgUps.png">
    
      <div class="ups" >
        ¡Ups!
      </div>
      <div *ngIf="!focused" class="textoAcceso">
        Parece que tu correo no está registrado,
        <br>
        ¿querés crear una cuenta?
      </div>
    </div>
    <div class="down-content">
      <form (ngSubmit)="crearCuenta()">
        <div class="input-group input-group-lg inputCorreo mt-4">
          <span class="input-group-text" style="background-color: #e9ecef;" id="inputGroup-sizing-lg">
            <ion-icon name="mail-outline" class="mail-icon"></ion-icon>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
            </svg> -->
          </span>
          <input type="text" class="form-control" [(ngModel)]="nombre" disabled name="correo"
            placeholder="Correo electronico" style="border-style: none; height: 4rem; margin-right: 20px;">
        </div>
        <ion-button type="submit" size="large" class="btnIngresar mt-2" color="proclub" expand="block">CREAR CUENTA
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer-content">
    <img src="/assets/img/splash/ProClubLogo.png">
  </div>
</ion-footer>
