ion-toolbar {
  --background: #FF8338;
}

ion-back-button {
  --color: white !important;
}

ion-content {
  --height: 100%;
  --background: linear-gradient(0deg, #F4F3F3 50%, #FF8338 50%);
}


#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ups {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}


.textoAcceso {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.inputCorreo {
  margin-left: 10px;
  margin-right: 10px;
}

.mail-icon {
  font-size: 25px;
}

.btnIngresar {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-family: 'Roboto',
    sans-serif;
}

.input-group-text {
  border-style: none;
  background-color: white;
}

.form-control {
  padding: 0px;
}

.toolbar {
  --background: #F4F3F3;
}


.footer-content{
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.footer-content img{
max-height: 32px;
}

.up-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #FF8338;
  height: calc(65vh - 44px);
  padding-top: 11px;
}

.down-content{
  height: calc(35vh - 72px);
  
}

.up-content img{
  height: 30vh;
}

form{
  margin-top: -56px;
}

.footer-content img{
  max-height: 32px;
}