<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-row style="min-height: 100%">
    <ion-col size="12" style="max-height: 200px;" class="ion-no-padding">
      <img class="img-beneficio"
      onError="this.src='./assets/img/espacio-empty.jpeg'"
        [src]="this.info?.pathImage ? this.info.pathImage : 'assets/img/no-image-available.png'">

    </ion-col>
    <ion-col size="12" *ngIf="info?.categoria && info?.categoria.length" class="ion-padding-top ion-padding-start ion-padding-end content-beneficio">
      <ion-chip *ngFor="let item of this.info?.categoria" outline color="dark">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{item?.categoria?.nombre}}</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="12" class="ion-padding content-beneficio">
      <ion-text>
        <h1 class="ion-no-margin">{{this.info?.titulo}}</h1>
        <div class="ion-margin-top descripcion" [innerHTML]="this.info?.descripcion"></div>
       
      </ion-text>
    </ion-col>
   
    
  </ion-row>

</ion-content>
