.img-beneficio {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover;
}

.descripcion {
    color: #92949C !important;
    font-size: 12px;
    line-height: 14,06px;
}

.content-img {
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.codigo {
    font-size: 18px;
}

.content-beneficio, ion-content{
    background: white;
}

