
.container{
    padding: 190px 30px 20px 30px;
}

h2{
    font-size: 20px;
}

h4{
    font-size: 15px;
    margin-bottom: 20px;
}

p{
    font-size: 13px;
    opacity: .8;
    margin-bottom: 6px;
}

.file-upload{
    margin-bottom: 15px;
        border: 2px dashed rgba(0,0,0,0.3);
        border-radius: 6px;
        padding: 25px 0;
        text-align: center;
        background: #e5e5e5;
        opacity: 0.8;
}

.file{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #c7bdbd;
    justify-content: space-between;
}

.file svg{
    height: 26px;
}

.file > div{
    display: flex;
    align-items: center;
}

.file > div .text{
    max-width: calc(100vw - 120px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
.capitalize{
    text-transform: capitalize;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions ion-button{
    width: 49%;
}

.delete-btn{
    width: 30px;
    height: 30px;
}

.delete-btn ion-icon{
    font-size: 15px;
}

.icon-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
    border-radius: 0 0 15px 15px;
        box-shadow: 0 6px 15px rgb(0 0 0 / 20%);
        position: fixed;
        top: 50px;
        width: 100%;
        height: 180px;
        justify-content: center;
        z-index: 99;
}