<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  
 

 <ion-list *ngIf="infoArray && infoArray.length">

      
        <ion-item button *ngFor="let item of infoArray" (click)="gotoDetalle(item)" >
          <div class="img-wrapper" slot="start">
            <img  
            src="{{item.pathImage}}"
            onError="this.src = './assets/img/espacio-empty.jpeg'"
            alt="">
          </div>
          <ion-label>
            <h2 >{{item.titulo}}</h2>
            <p *ngIf="item.categoria && item.categoria.length"><b *ngFor="let cat of item.categoria">{{cat?.categoria?.nombre}} &nbsp;</b></p>
            <p class="descripcion" [innerHTML]="item.descripcion"></p>
          </ion-label>
        </ion-item>
        

    
  </ion-list> 

  <div class="empty-info" *ngIf="!infoArray || (infoArray && infoArray.length == 0)">
    En este momento no existe información útil cargada
  </div>
</ion-content>