.card-sup-content {
  .subtitle {
    color: black;
    font-weight: 700;
  }

  .card-title {
    font-weight: 700;
    font-size: 16px;
  }
}

.card-img {
  border-radius: 10px;
}

.img-wrapper{
  background: white;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
  margin: 10px;
}

.img-wrapper img{
  width: auto;
  height: auto;
  max-width: 1000px;
  max-height: 100%;
}

.descripcion{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
}