ion-content {
  --height: 100%;
}



#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-wrapper{
  padding-top: 5vh;
}

.img .img-wrapper img{
  width: 34vw !important;
    height: 34vw !important;
}

.img {
  height: 50vh;
  min-height: 50vh;
  background: #6b64f8;
}

.down-content{
  height: calc(50vh + 55px);
    margin-top: -55px;
}

.holaNombre {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}

.textoAcceso {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.inputCorreo {
  margin-left: 10px;
  margin-right: 10px;
}

.mail-icon {
  font-size: 25px;
}

.icon {
  font-size: 25px;
}

.icon-eye {
  margin-right: 30px;
  margin-top: 20px;
}

.btnIngresar {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-family: 'Roboto',
    sans-serif;

  &[disabled] {
    opacity: 1;
    --ion-color-base: grey;
  }
}

.input-group-text {
  border-style: none;
  background-color: white;
}

.form-control {
  padding-top: 15px;
  padding-left: 0;
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 0 8px rgba(255, 255, 255, 0.3);
}

.recuperarClave {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  padding-top: 10px;
  text-decoration-line: underline;

  color: #000000;
}

.footer-content{
  position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.footer-content img{
  max-height: 32px;
  margin: 0;
}

.footer-content{
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.footer-content img{
  max-height: 32px;
}


.back-wrapper{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  color: white;
}