<ion-header class="ion-no-border">
    <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>

    <ion-row class="ion-padding">
        <ion-col size="12">
            <h2 class="titulo-escanea">Escaneá el codigo para marcar tu asistencia</h2>
        </ion-col>

        <div class="qr-wrapper d-flex j-center" style="width: 100%">
            <qrcode [qrdata]="this.code" [width]="310" [scale]="4"  [errorCorrectionLevel]="'M'"></qrcode>
        </div>

        <ion-col size="12" class="ion-padding" (click)="mostrarAsistencias()">
            <ion-button expand="block" color="rojo">MOSTRAR ASISTENCIAS</ion-button>
        </ion-col>
    </ion-row>
</ion-content>