ion-content {
  --height: 100%;
}

#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img img{
  margin-left: -80vw;
      width: 80vw;
      height: 80vw;
      transform: rotate(15deg);
      position: absolute;
      margin-top: -11vw;
}



.up-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #6b64f8;
  height: 50vh;
  min-height: 50vh;
}

.down-content{
  height: calc(50vh - 72px);
  
}

.inputCorreo {
  margin-left: 10px;
  margin-right: 20px;
}

.mail-icon {
  font-size: 25px;
}


.spinner-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 50%;
  right: 30px;
  top: 15px;
  border-radius: 50px;

  ion-spiner {
    font-size: 25px;
    padding: 0px;
  }

  ion-icon {
    font-size: 25px;
    color: green;
  }
}



.btnIngresar {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-family: 'Roboto',
    sans-serif;

  &[disabled] {
    opacity: 1;
    --ion-color-base: grey;
  }

}

.input-group-text {
  border-style: none;
  background-color: white;
}

form{
  margin-top: -17vw;
}

.form-control {
  padding-left: 0;
  padding-right: 50px;
  border-style: none;
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 0 8px rgba(255, 255, 255, 0.3);
}

.hola {
  /* Title */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  color: white;
  z-index: 1;
  margin-top: 30vw;
}

.textoAcceso {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.footer-content{
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.footer-content img{
  max-height: 32px;
}