.img {
    width: 200px;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 5%;
}

.primary-bg{
    background: var(--ion-color-primary);
}

  
ion-content{
    --padding-top: 25%;
    --background: var(--ion-color-primary) !important;
  }