<ion-content class="primary-bg">
  <ion-row class="ion-align-items-center ion-margin-top">
    <br>
    <br>
    <ion-col size="12" class="ion-margin-top">
      <ion-img class="img" [src]="this.masterService.splash.img"></ion-img>
    </ion-col>
    <br>
    <ion-col size="12" class="ion-text-center ion-padding">
      <!-- <h2>{{this.masterService.splash.titulo}}</h2> 
      <h2>¡Turno confirmado con éxito!</h2>-->
      <h2>{{this.masterService.splash.titulo}}</h2>
      <!-- <h6>{{this.masterService.splash.subtitulo}}</h6>-->
    </ion-col>
  </ion-row>
</ion-content>
