ion-fab-button {
    --background: var(--ion-color-primary);
}

.redes {
    background-color: #222428;
    padding: 0px 10px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);
    ion-icon {
        color: #f4f5f8;
        text-align: right;
    }
    ion-fab-button {
        --background: #222428;
        --background-activated: #222428;
    }
    .club {
        font-family: Verdana;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        margin-top: 5px;
        color: #f4f5f8;
    }
}

.ocultarRedes {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

k6{
    display: flex;
    align-items: center;
}

.mostrarRedes {
    background-color: #222428;
    height: 140px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-icon {
        height: 15px;
    }
}

.redesSociales {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    ion-fab-button {
        margin: 3px;
        height: 25px;
        width: 25px;
        --background: var(--ion-color-primary);
    }
}

.notificaciones {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    span {
        font-weight: 700;
    }
}

.cuotas {
    margin: 30px;
    p {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
    }
    span {
        opacity: 50%;
    }
}

.elegirDeporte {
    margin: 20px;
    h3 {
        margin-top: 50px;
        font-weight: 700;
    }
    .deportes {
        display: flex;
        justify-content: space-between;
        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            ion-icon {
                margin-top: 15px;
                padding: 10px;
                font-size: 60px;
            }
        }
    }
}

.turnos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    h3 {
        margin-top: 50px;
        font-weight: 700;
    }
    span {
        margin-top: 35px;
        color: var(--ion-color-secondary);
        text-decoration: underline;
        cursor: pointer;
    }
}

.grid-container {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: white;
}

.logo-deporte {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 8px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.turnoContainer {
    background-color: #fff;
    width: 90%;
    height: 120px;
    margin-left: 40px;
    border-radius: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    .calendario {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-left: 50px;
        margin-top: 30px;
        ion-icon {
            font-size: 20px;
            margin-right: 5px;
        }
        ion-col {
            margin-bottom: 5px;
        }
        span {
            color: rgba($color: #000000, $alpha: 0.6);
            font-size: 18px;
        }
    }
}

.beneficioContainer {
    width: 100%;
    height: 50px;
    background: linear-gradient(white, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
}

.beneficios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    h3 {
        margin-top: 10px;
        font-weight: 700;
    }
    span {
        margin-top: 5px;
        color: var(--ion-color-secondary);
        text-decoration: underline;
        cursor: pointer;
    }
}

.icon-categorias {
    font-size: 31.5px;
    max-width: 57.5px;
}

.ver-mas {
    font-size: 12px;
    line-height: 14px;
    color: var(--ion-color-primary) !important;
    text-decoration: underline;
}

.deportes {
    background: #FFFFFF;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
    border-radius: 8px;
    height: 120px;
}

.text-container {
    padding: 18px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.descripcion-tarjeta {
    opacity: 50%;
}

.football-icon {
    width: 80%;
    height: 80%;
    color: #fff;
}

.logo-deporte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    top: 14px;
}

.background-inicio {
    background: linear-gradient(0deg, rgba(153, 153, 153, 1) 0%, rgba(255, 255, 255, 0) 15%) !important;
    padding-bottom: 60px !important;
}

.redes-pupop {
    background: #222428;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);
    border-radius: 0px 0px 16px 16px;
}

.image-center {
    margin: 0 auto;
    background: white;
}

.titulo-club {
    color: white;
    margin: 0em !important;
}

.fab-button-social {
    width: 30px;
    height: 30px;
}

.redes-toggle {
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 6px;
}

.titulo-toggle {
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 2px;
}

.margin-left {
    margin-left: 5px;
}

.icon-categorias{
    padding: 10px;
  }

  .time-label{
    font-size: 13px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .last-row{
      margin-bottom: 60px;
  }

  .card ion-card-content ion-item{
      background: white !important;
  }

  .card ion-card-content ion-list{
    padding: 0 !important;
}

.empty-turns{
    background: rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    opacity: .5;
    width: 100%;
}

.beneficios-wrapper{
    display: flex;
    min-width: 100%;
    overflow-x: scroll;
    height: 70vw;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: hidden;
}

.beneficios-wrapper.beneficios-vacio{
    height: auto;
    justify-content: center;
    padding: 0 5px;
    margin: 0;
    height: 70px;
}

.card-beneficio{
    max-width: 60vw !important;
    display: inline-flex;
    flex-wrap: nowrap;
    height: 60vw !important;
    flex: 1 0 auto;
}

.card-beneficio .img-wrapper{
    height: 35vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.card-beneficio .title, .card-beneficio .subtitle{
    padding: 0 10px;
}

