<ion-header class="ion-no-border">
  <app-toolbar-inicio></app-toolbar-inicio>
</ion-header>

<ion-content class="background-inicio">
  <!-- TOGGLE CLUB -->
  <app-toggle-inicio #toggleInicio></app-toggle-inicio>

  <!-- NOTIFICACIONES -->
  <ion-card class="card">
    <ion-card-header class="ion-no-padding">
      <ion-item>
        
        <ion-label (click)="gotoNotifications()">
          <b>Notificaciones ({{this.listNotificaciones ? this.listNotificaciones.length : 0}})</b>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content style="padding: 0 !important;">
      <ion-list>
        <ion-item *ngFor="let item of this.listNotificaciones" (click)="gotoNotification(item)">
          <ion-label>
            <h2>{{item.club.notificacion.titulo}}</h2>
            <p>{{item.club.notificacion.descripcion}} </p>
          </ion-label>
          <ion-note slot="end"> {{item.club.notificacion.fecha}}</ion-note>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>



  <!-- ELEGIR DEPORTE -->
  <ion-row class="ion-padding">
    <h3>Elegí un deporte para reservar</h3>
    <ion-col size="12">
      <ion-row>
        <ng-container *ngFor="let disciplina of listDeportes; let i = index">
          <ion-col *ngIf="i < 3" size="3">
            <ion-card (click)="mostrarPop(disciplina.id)" class="card ion-no-margin">
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <img class="icon-categorias" src="../../../../assets/img/disciplinas/{{disciplina.disciplina.icono}}.svg" alt="">
                </ion-col>
              </ion-row>
            </ion-card>
            <div></div>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-label>{{disciplina.disciplina.nombre}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ng-container>
        
        <!-- <ion-col size="3">
          <ion-card (click)="mostrarPop()" class="card ion-no-margin">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-icon class="icon-categorias" name="football-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
          <div></div>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label>Futbol</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-card (click)="mostrarPop()" class="card ion-no-margin">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-icon class="icon-categorias" name="basketball-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
          <div></div>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label>Basquet</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-card (click)="mostrarPop()" class="card ion-no-margin">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-icon class="icon-categorias" name="american-football-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
          <div></div>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label>Rugby</ion-label>
            </ion-col>
          </ion-row>
        </ion-col> -->
        <ion-col size="3">
          <ion-card [routerLink]="['disciplinas']" routerLinkActive="router-link-active"  class="card ion-no-margin">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-icon class="icon-categorias" name="apps-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card>
          <div></div>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label>Ver más</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- PROXIMO TURNO -->
  <ion-row class="ion-padding">
    <ion-col size="10">
      <h3 class="ion-no-margin">Próximos turnos</h3>
    </ion-col>
    <ion-col (click)="irATurnos()" size="2">
      <span class="ver-mas">Ver más</span>
    </ion-col>

    <ion-col size="12">
      <ion-row *ngFor="let item of listTurnos">
        <ion-col size="2">
          <div class="logo-deporte">
            <img src="{{item.espacio?.image}}" alt="football">
          </div>
        </ion-col>
        <ion-col size="10" (click)="goTurn(item)">
          <div class="deportes">
            <div class="text-container">
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <h6 class="ion-no-margin">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <b class="margin-left">{{getFecha(item.fechaInicio)}}</b>
                  </h6>
                </ion-col>
                
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <h6 class="ion-no-margin time-label">
                    <ion-icon name="time-outline"></ion-icon>
                    <span class="margin-left">{{getHora(item.desde, item.hasta)}}</span>
                  </h6>
                </ion-col>
              </ion-row>
              <h6 class="ion-no-margin descripcion-tarjeta">{{item.espacio?.nombre}}</h6>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="listTurnos && listTurnos.length == 0">
        <div class="empty-turns">
          No tienes ningún turno activo 
        </div>
      </ng-container>
    
    </ion-col>
  </ion-row>

  <!-- BENEFICIOS -->

  <ion-row class="ion-padding last-row">
    <ion-col size="10">
      <h3 class="ion-no-margin">Beneficios destacados</h3>
    </ion-col>
    <ion-col (click)="irABeneficios()" size="2">
      <span  class="ver-mas">Ver más</span>
    </ion-col>

    <div class="beneficios-wrapper {{beneficios && beneficios.length == 0 ? 'beneficios-vacio' : ''}}" >

      <ng-container *ngIf="beneficios && beneficios.length == 0">
        <div class="empty-turns">
          Pronto verás beneficios disponibles
        </div>
      </ng-container>

      <ng-container *ngFor="let item of beneficios" >
        <ion-card class="card card-beneficio" (click)="goToBeneficio(item)">
          <ion-card-content class="ion-no-padding">
            <div class="img-wrapper">
              <img [src]="item.beneficio?.pathImage ? item.beneficio.pathImage : 'assets/img/no-image-available.png'" onError="this.src='./assets/img/espacio-empty.jpeg'" class="img">
            </div>
            <ion-card-title class="title mt-3">{{item.beneficio.nombre}}</ion-card-title>
            <ion-card-subtitle class="subtitle mt-3 mb-3" >
              <div class="card-subtitle" [innerHtml]="item.beneficio.descripcion"></div>
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ion-slides pager="true" [options]="slideOptsBeneficios">
        <ion-slide *ngFor="let item of beneficios">
          <ion-card class="card ion-text-left">
            <img src="assets/img/no-image-available.png" />
            <ion-card-header>
              <ion-card-title>{{item.beneficio.nombre}}</ion-card-title>
              <ion-card-subtitle>{{item.beneficio.descripcion}} </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
      

    </div>
  </ion-row>

  <!-- BOTON SCAN -->

  <ion-fab (click)="scan()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
