<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-toolbar class="toolbar-text">
    <ion-grid>
  
      <ion-row>
        <ion-col class="ion-no-padding d-flex a-center">
          <span > Titulo y descripción </span>
          <ion-icon  name="chevron-forward-outline"></ion-icon>
          <span >Preguntas </span>
          <ion-icon  name="chevron-forward-outline"></ion-icon>
          <span class="span-1"> Destinatarios  </span>
          <ion-icon class="span-1" name="chevron-forward-outline"></ion-icon>
          <span> Enviar </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>

  <ion-toolbar class="toolbar-input">

    <div class="form">

      <ion-item class="w-100">
        <ion-select class="w-100 d-flex j-between a-center" [(ngModel)]="disciplinaSeleccionada" (ionChange)="cambioDisciplina($event)" interface="action-sheet"
          placeholder="Disciplina">
          <ion-select-option *ngFor="let disciplina of listDisciplina" [value]="disciplina">
            {{disciplina.disciplina.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="w-100" *ngIf="mostrarDivisiones">
        <ion-select class="w-100 d-flex j-between a-center" [(ngModel)]="divisionSeleccionada" (ionChange)="cambioDivision($event)" interface="action-sheet"
          placeholder="División">
          <ion-select-option *ngFor="let division of listDivisiones" [value]="division">{{division.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="w-100" *ngIf="mostrarPosiciones">
        <ion-select class="w-100 d-flex j-between a-center" [(ngModel)]="posicionSeleccionada" (ionChange)="cambioPosicion($event)" interface="action-sheet" placeholder="Posición">
          <ion-select-option *ngFor="let posicion of listPosiciones" [value]="posicion">{{posicion.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="w-100" *ngIf="mostrarUsuarios">
        <ion-select class="w-100 d-flex j-between a-center" [(ngModel)]="usuarioSeleccionado" multiple="false" interface="action-sheet" placeholder="Seleccionar socios">
          <ion-select-option *ngFor="let usuario of listUsuarios" [value]="usuario">{{usuario.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

     

    </div>

  </ion-toolbar>

</ion-content>
<ion-footer padding style="padding: 10px">
  <ion-button type="submit" [disabled]="!formularioValido()"  color="primary" 
  expand="block" (click)="siguiente()">
  CONTINUAR</ion-button>
</ion-footer>
