.contenedor {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100vh;
  margin-top: 15px;
  padding: 0;
}


.toolbar-text {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;

  .notificacion-text {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
  }

  span, ion-icon {
    font-size: 12px;
  }

  .span-1 {
    white-space: nowrap;
    color: var(--ion-color-primary);
  }

}

.toolbar-input {
  width: 100%;

  .input {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 10px;
  }
}


.footer {
  width: 90%;
  height: 300px;
  margin: auto;

  .footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    width: 100%;
    height: 100%;

    button {
      background-color: var(--ion-color-primary);
      width: 100%;
      height: 40px;
      border-radius: 8px;
      color: white;
    }
  }
}



ion-back-button, ion-title{
  --color: white !important;
}




.title {
font-family: 'Founders Grotesk';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.img {
width: 330px;
max-height: 75px;
}


.textoAcceso {
margin-top: 20px;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #ffffff;
}

ion-button {
background: var(--ion-color-primary) !important;
color: white !important;
border-radius: 8px;
}

ion-card {
margin-left: 15px;
margin-right: 15px;
margin-top: 20px;
}

.form .btn-holder {
  background: var(--ion-color-primary) !important;
  color: white !important;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  font-size: 14px !important;

  &[disabled] {
    opacity: 1;
    --ion-color-base: grey;
  }
}


ion-footer {

.img {
    width: 150px;
}
}
