.tab-bar {
  width: 100%;
  background-color: var(--ion-color-primary);
  color: white;

  .sinaprobar {
    float: left;
    background-color: var(--ion-color-primary);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 14px;
  }

  .aprobados {
    float: left;
    background-color: var(--ion-color-primary);
    color: white;
    height: 100%;
    width: 100%;
    font-size: 14px;
  }
}

ion-item-divider{
  background-color: white;
}

ion-list{
  padding-top: 0 !important;
}


.capitalize-text{
  text-transform: capitalize;
}

