
  <app-header [addHeader]="isManager" (action)="addDocumentacion( $event )" [titulo]="titulo"></app-header>
  <ion-toolbar color="primary">
    <ion-segment value="sinaprobar"  (ionChange)="segmentChanged($event)">
      <ion-segment-button color="light" value="sinaprobar">
        SIN APROBAR
      </ion-segment-button>
      <ion-segment-button color="light" value="aprobados">
        APROBADOS
      </ion-segment-button>
      <ion-segment-button *ngIf="isManager" color="light" value="enviadas">
        Enviadas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


<ion-content>

    <div *ngIf="segmentSelected == 'aprobados'">
      <ion-list>
        <ion-item-divider sticky="true" style="padding: 0">
          <ion-searchbar (ionChange)="filterApproveds($event)" placeholder="Buscar" style="padding: 0" ></ion-searchbar>
        </ion-item-divider>
        <ion-item button *ngFor="let item of documentacionAprobada" (click)="gotoAprobado(item)">
          
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2>{{item.titulo}}</h2>
            </ion-text>
            <p class="capitalize-text">{{item.enviadoA}}</p>
            <p>{{item.descripcion}}</p>
          </ion-label>
          <ion-note slot="end" style="text-align: right;">
            <small>{{item.fecha}}</small>
            <br>
            <small>{{item.hora}}</small>
          </ion-note>
        </ion-item>

      </ion-list>
      
      <div class="empty-info" *ngIf="!documentacionAprobada || (documentacionAprobada && documentacionAprobada.length == 0)">
        No hay documentación aprobada para mostrar
      </div>
    </div>
    <div *ngIf="segmentSelected == 'sinaprobar'">
      <ion-list>
        <ion-item-divider sticky="true" style="padding: 0">
          <ion-searchbar placeholder="Buscar" (ionChange)="filterPendings($event)"  style="padding: 0" ></ion-searchbar>
        </ion-item-divider>
        <ion-item-divider sticky *ngIf="documentacionPendiente && documentacionPendiente.length">
          <ion-icon slot="start" name="time-outline"></ion-icon>
          <ion-label> Pendientes </ion-label>
        </ion-item-divider>
        <ion-item button *ngFor="let item of documentacionPendiente" (click)="gotoPendiente(item)">
          
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2>{{isManager ? item.titulo : item.solicituddocumento?.titulo}}</h2>
            </ion-text>
            <p class="capitalize-text">{{isManager ? item.enviadoA : item.solicituddocumento?.enviadopor?.persona?.nombre}} {{isManager ? '' : item.solicituddocumento?.enviadopor?.persona?.apellido}}</p>
            <p>{{isManager ? item.descripcion : item.solicituddocumento?.descripcion}}</p>
          </ion-label>
          <ion-note slot="end" style="text-align: right;">
            <small>{{isManager ?  item.fecha : item.solicituddocumento?.fecha}}</small>
            <br>
            <small>{{isManager ? item.hora : item.solicituddocumento?.hora}}</small>
          </ion-note>
        </ion-item>

        <ion-item-divider sticky *ngIf="documentacionEnRevision && documentacionEnRevision.length">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          <ion-label> En revision </ion-label>
        </ion-item-divider>
        <ion-item button *ngFor="let item of documentacionEnRevision" (click)="gotoRevision(item)">
          
          <ion-label class="ion-text-wrap">
            <ion-text>
              <h2>{{isManager ? item.titulo : item.solicituddocumento?.titulo}}</h2>
            </ion-text>
            <p class="capitalize-text">{{isManager ? item.enviadoA : item.solicituddocumento?.enviadopor?.persona?.nombre}} {{isManager ? '' : item.solicituddocumento?.enviadopor?.persona?.apellido}}</p>
            <p>{{isManager ? item.descripcion : item.solicituddocumento?.descripcion}}</p>
          </ion-label>
          <ion-note slot="end" style="text-align: right;">
            <small>{{isManager ?  item.fecha : item.solicituddocumento?.fecha}}</small>
            <br>
            <small>{{isManager ? item.hora : item.solicituddocumento?.hora}}</small>
          </ion-note>
        </ion-item>

        
      </ion-list>
      <div class="empty-info" *ngIf="!documentacionPendiente || (documentacionPendiente && documentacionPendiente.length == 0)">
        No hay documentación desaprobada para mostrar
      </div>
      
    </div>

    <div *ngIf="segmentSelected == 'enviadas'">
      <ion-list>
        <ion-item-divider sticky="true" style="padding: 0">
          <ion-searchbar placeholder="Buscar" (ionChange)="filterSendeds($event)" style="padding: 0" ></ion-searchbar>
        </ion-item-divider>
        
        <ng-container *ngFor="let item of documentacionEnviada">
          <ion-item button (click)="gotoEnviada(item)">
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2>{{item.titulo || 'Sin titulo'}}</h2>
              </ion-text>
              <p class="capitalize-text">{{item.enviadoA}}</p>
              <p>{{item.descripcion}}</p>
            </ion-label>
            <ion-note slot="end" style="text-align: right;">
              <small>{{item.solicituddocumento?.fecha}}</small>
              <br>
              <small>{{item.solicituddocumento?.hora}}</small>
            </ion-note>
          </ion-item>
        </ng-container>
        
      </ion-list>
      <div class="empty-info" *ngIf="!documentacionEnviada || (documentacionEnviada && documentacionEnviada.length == 0)">
        No hay documentación enviada para mostrar
      </div>
      
    </div>

  

</ion-content>