<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <div class="sup">
    <div class="img-wrapper">
      <img class="img" [src]="club?.logo" >
    </div>
  </div>

  <div class="titulo-contenedor">
    <h3 class="titulo">{{club?.nombre}}</h3>
  </div>

  <div class="social-medias">
    <ion-fab-button *ngIf="club?.facebook" class="fab-button-social">
        <a href="club?.facebook" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
        </a>
    </ion-fab-button>
    
    <ion-fab-button *ngIf="club?.instagram" class="fab-button-social">
        <a href="club?.instagram" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
        </a>
    </ion-fab-button>
    <ion-fab-button *ngIf="club?.twitter" class="fab-button-social">
        <a href="club?.twitter" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
    </ion-fab-button>
    <ion-fab-button *ngIf="club?.email" class="fab-button-social">
        <a href="mailto: {{club?.email}}" target="_blank">
            <ion-icon name="mail"></ion-icon>
        </a>
    </ion-fab-button>
    <ion-fab-button *ngIf="club?.telefono" class="fab-button-social">
        <a href="tel: {{club?.telefono}}" target="_blank">
            <ion-icon name="call"></ion-icon>
        </a>
    </ion-fab-button>
    <ion-fab-button *ngIf="club?.telefono" class="fab-button-social">
        <a href="https://api.whatsapp.com/send?phone={{club?.telefono}}" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </a>
    </ion-fab-button>
  </div>

  <div class="contenedor" *ngIf="club">
   
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Domicilio</ion-label>
        <div class="input-value">{{club.direccion.calle || 'N/D'}}</div>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked" class="form-label">Número</ion-label>
            <div class="input-value">{{club.direccion.numero || 'N/D'}}</div>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked" class="form-label">Código postal</ion-label>
            <div class="input-value">{{club.direccion.cp || 'N/D'}}</div>
          </ion-item>
        </ion-col>
    
      </ion-row>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Localidad</ion-label>
        <div class="input-value capitalize-text">{{club.direccion.localidad || 'N/D'}}, {{club.direccion.provincia.nombre || 'N/D'}}</div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Correo electrónico</ion-label>
        <div class="input-value">{{club.email || 'N/D'}}</div>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Teléfono</ion-label>
        <div class="input-value">{{club.telefono || 'N/D'}}</div>
      </ion-item>

      
    
  </div>
</ion-content>