.sup {
  background-color: var(--ion-color-primary);
  border-radius: 0px 0px 24px 24px;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.img-wrapper{
  background: white;
    padding: 0;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
  max-height: 100%;
}

.titulo-contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
}

.titulo {
  font-weight: 700;
  font-family: 'Roboto',
    sans-serif;
  ;
}

.contenedor {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;

  margin-top: 50px;
  padding: 80px;
}

.input-value{
  padding: 6px 0;
}

ion-item, ion-row{
  width: 100%;
}

.capitalize-text{
  text-transform: capitalize;
}

.social-medias{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab-button-social{
  width: 30px;
  height: 30px;
  box-shadow: none !important;
  border-radius: 50%;
  --background: var(--ion-color-secondary-contrast) !important;
  margin-right: 10px;
}

.fab-button-social ion-icon{

  color: var(--ion-color-secondary);
}

ion-fab-button {
  --box-shadow:none;
}

ion-fab-button a{
  display: flex;
  align-items: center;
  justify-content: center;
}