.grid-container {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    // border-radius: 15px;
    // border: 2px solid grey;
    display: flex;
    align-items: center;
    height: 200px;
    background-color: white;
  }
  
  .btn-container {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 300px;
    padding: 60px;
  }
  
  .logo-deporte {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-secondary);
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 8px;
    margin-bottom: 80px;
  }
  
  .football-icon {
    width: 80%;
    height: 80%;
    color: #fff;
  }
  
  .deportes {
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin-left: 40px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  .football {
    font-weight: 700;
  }
  
  .icon-deporte {
    margin-top: 15px;
    margin-right: 15px;
  }
  
  .text-container {
    padding: 20px;
    height: 90%;
    width: 90%;
    margin-left: 30px;
  }
  
  .confirmado {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 7px;
    
   
    left: 58.47%;
    right: 7.92%;
    top: 41.25%;
    bottom: 53.75%;
    
    /* Rojo club */
    
    background: var(--ion-color-primary);
    border-radius: 4px;
  }
  
  .btn-checkmark {
    margin-top: 5px;
    font-size: 15px;
  }
  
  .btn-confirmado {
    margin-left: 10px;
  }
  
  .btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .btn-deportes {
    outline: none;
    border: 2px solid var(--ion-color-secondary);
    border-radius: 5px;
    font-family: 'Roboto',
      sans-serif;
  }

 
  
  ion-content{
    --padding-top: 25%;
    --background: var(--ion-color-primary) !important;
  }

  ion-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0px 0px;
    left: 20%;
    right: 20%;
    max-width: 50%;
    background: #F4F5F8;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .container{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .turno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }

  .turno .up-content{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
  }

  .turno .down-content{
    background: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
  }

  .text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .turno .down-content .header{
    background-color: #e6e6e6;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    flex-direction: column;
  }

  .img-wrapper{
    width: 24vw;
    border-radius: 10px;
    overflow: hidden;
    margin-top: -10vw;
    height: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  }

  .img-wrapper img{
    height: 100%;
  }

  .turno .down-content .text-content{
    font-size: 11px;
  }

  ion-button{
    box-shadow: none !important;
    --box-shadow: none !important;
    :root{
      --box-shadow: none !important;
    }
    max-width: 70vw;
    margin: 30px auto;
  }

  .btn-cancel{
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
  }

  .btn-confirm{
    background: #202020 !important;
    border: none !important;
    border-radius: 2px;
    color: white;
    --background: #202020 !important;
    --border: none !important;
    border-radius: 2px;
    --color: white;
  }

  .d-flex{
    display: flex;
    align-items: center;
  }