<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content >
    <div class="container" *ngIf="turno">
      <div  class="turno">
        <div class="up-content">
          <div class="img-wrapper">
            <img  src="{{turno?.espacio?.image}}" alt="">
          </div>
          <div class="text-content">
            <small >{{turno?.espacio?.nombre}}</small>
            <b class="d-flex"> <ion-icon name="calendar-outline"></ion-icon> Fecha: {{turno?.fecha}}</b>
            <p class="d-flex"><ion-icon name="time-outline"></ion-icon>{{turno?.desde}} - {{turno?.hasta}}</p>
          </div>
        </div>
        <div class="down-content">
          <div class="header">
            <strong>!</strong>
          
            <b>Recordatorio</b>
          </div>
          <div class="text-content">
            <p>La reserva es de {{turno ? getHourDiff(turno) : ''}} minutos</p>
            <!-- <p>Capacidad máxima: [Falta cupo aqui] personas</p> -->
            <p *ngIf="turno?.espacio?.valor > 0">El valor del turno es de ${{turno?.espacio?.valor}}.-
             <i>(se deberá abonar al asistir al turno
              en la mesa de entrada)</i> </p>
          </div>
        </div>
        
      </div>
    </div>
   

    <ion-button (click)="confirmarTurno()"  class="ion-margin btn-confirm"  expand="block">CONFIRMAR TURNO</ion-button>
   


</ion-content>