<ion-toolbar color="primary" class="ion-no-border">
  <ion-buttons slot="start">
    <ion-menu-button class="blank"></ion-menu-button>
  </ion-buttons>
  <ion-title > ¡Hola, {{ getUserInfo()?.nombre ? getUserInfo()?.nombre : '' }}!</ion-title>
  <ion-buttons slot="start" slot="end" >
    <ion-fab-button size="small" color="primary" [routerLink]="'/menu/notificaciones'">
      <ion-icon class="notificacion"  name="notifications"></ion-icon>
      <!-- hasta que este en el back: || (encuestasRecibidas && encuestasRecibidas.length > 0)-->
      <div *ngIf="(notificacionesRecibidas && notificacionesRecibidas.length > 0) " class="badge-notifications" color="danger"></div>
    </ion-fab-button>
  </ion-buttons>
</ion-toolbar>