.toolbar {
    --background: var(--ion-color-primary);
    padding-top: 10px;
    ion-title {
        --color: #ffffff;
    }
    ion-menu-button {
        --color: #ffffff;
    }
    ion-title {
        font-size: 18px;
        font-style: normal !important;
        font-weight: 530 !important;
        text-align: start;
    }
}

ion-icon {
    color: white;
    font-size: 25px
}

ion-fab-button {
    --box-shadow:none;
}

.badge-notifications{
    height: 10px;
    width: 10px;
    position: absolute;
    transform: translate(8px, -6px);
    border-radius: 50%;
    visibility: visible;
    opacity: 1;
    display: inline;
    background: var(--ion-color-secondary);
}