<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="overlay-loading {{loadinMain ? '' : 'dismissed'}}" >
    <img style="max-width: 60vw; margin-bottom: 80px" src="../../../../assets/img/logo-w.png" alt="">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-app>
