<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <div class="empty-info ion-padding" *ngIf="!listDeportes || (listDeportes && listDeportes.length == 0)">
    No hay deportes agregados
  </div>

  <ng-container *ngIf="listDeportes && listDeportes.length" >
    <app-deporte *ngFor="let deporte of listDeportes"  [deporte]="deporte" ></app-deporte>
  </ng-container>
  
</ion-content>

<ion-footer *ngIf="lisDeportesDelClub" class="ion-padding">
  <ion-button (click)="openModalDeportes()" expand="block" class="btn-deportes-red" color="primary">
    <b>+ Agregar nuevo deporte</b>
  </ion-button>
</ion-footer>

