.grid-container {
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  height: 124px;
}

.btn-container {
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 300px;
  padding: 60px;
}

.logo-deporte {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-color-primary-contrast);
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
}

.btn-add{
  background: var(--ion-color-secondary);
    margin: 0 0 10px 0;
    border-radius: 8px;
    color: var(--ion-color-secondary-contrast);
}

.ionic-selectable-icon{
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.logo-deporte-gray {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #92949C;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 8px;
  margin-bottom: 55px;
}

.football-icon {
  width: 80%;
  height: 80%;
  color: #fff;
}

.deportes {
  width: 90%;
  margin-left: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.football {
  font-weight: 700;
}

.icon-deporte {
  margin-top: 15px;
  margin-right: 15px;
}

.text-container {
  padding: 20px;
  height: 90%;
  width: 90%;
  margin-left: 30px;
}

.confirmado {
  display: flex;
  align-content: center;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 130px;
  margin-top: 20px;
  outline: none;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 5px;
}

.btn-checkmark {
  margin-top: 5px;
  font-size: 15px;
}

.btn-confirmado {
  margin-left: 10px;
}

.btn-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

