<div class="grid-container" >
    <div class="logo-deporte">
      
        <img class="icon-categorias football-icon" src="../../../../assets/img/disciplinas/{{deporte?.disciplinaxclub?.disciplina?.icono}}.svg" alt="">
      
    </div>
    <div class="deportes">
      <div class="text-container">
        <ion-text class="football"><b>{{deporte?.disciplinaxclub?.disciplina?.nombre}}</b></ion-text>
      
            <br>
            <ion-text style="opacity: 50%;">
                <small>Division: </small>
                {{division}}
            </ion-text>
        
       
            <br>
            <ion-text style="opacity: 50%;">
                <small>Posicion: </small>
                {{posicion}}
            </ion-text>
       
      </div>
    </div>
  </div>