<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="form">
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Nombre <b style="color:red;">*</b></ion-label>
        <ion-input type="text"  formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Apellido <b style="color:red;">*</b></ion-label>
        <ion-input  type="text" formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Correo electrónico <b style="color:red;">*</b></ion-label>
        <ion-input type="email" formControlName="correo"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Teléfono <b style="color:red;">*</b></ion-label>
        <ion-input type="text" formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Documento de identidad <b style="color:red;">*</b></ion-label>
        <ion-input type="number" formControlName="documento"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked"  class="form-label">Fecha de nacimiento <b style="color:red;">*</b></ion-label>
        <ion-datetime value="2019-10-01T15:43:40.394Z" monthShortNames="[Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre]" cancelText="Cancelar" doneText="Ok" locale="es-ES" display-timezone="utc" formControlName="fechaNacimiento"></ion-datetime>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Domicilio <b style="color:red;">*</b></ion-label>
        <ion-input type="text" formControlName="calle"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked" class="form-label">Número <b style="color:red;">*</b></ion-label>
            <ion-input type="number" formControlName="numero"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="ion-no-padding">
            <ion-label position="stacked" class="form-label">Código postal <b style="color:red;">*</b></ion-label>
            <ion-input type="text" formControlName="cp"></ion-input>
          </ion-item>
        </ion-col>
       
      </ion-row>

      <ion-item class="ion-no-padding">
        <ion-label position="stacked" class="form-label">Localidad <b style="color:red;">*</b></ion-label>
        <ion-input type="text" formControlName="localidad"></ion-input>
      </ion-item>

      


    </form>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="mt-4 mb-4">
    <ion-fab-button (click)="guardarDatos()" color="primary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>