<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
  <div class="sup">
    <ion-searchbar [(ngModel)]="searchbar" class="searchbar" placeholder="Buscar" (ionChange)="filterList($event)">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content>

  <div class="empty-info ion-padding" *ngIf="!espacios || (espacios && espacios.length == 0)">
    No hay espacios registrados
  </div>
  <ion-row class="ion-padding" *ngIf="espacios &&  espacios.length">
    <h3>Elegí un espacio</h3>
    <ion-col size="12">
      <ion-row class="ion-no-padding">
        <ion-col *ngFor="let espacio of espacios" class="ion-no-padding" size="4">
          <ion-card style="height: 25vw" (click)="chooseEspacio(espacio)" class="card ion-no-margin ion-no-padding">
            <ion-row>
              <ion-col size="12" class="ion-text-center ion-no-padding">
                <img style="height: 25vw;" class="icon-categorias" src="{{espacio.image}}" alt="" />
              </ion-col>
            </ion-row>
          </ion-card>
          <div></div>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label>{{espacio.nombre}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>
