ion-toolbar {
    --background: #514cbd;
}


  ion-content {
    --height: 100%;
    --background: #6b64f8
}

.stepper {
  height: 100px;
  background-color: #514cbd;
  border-radius: 0px 0px 32px 32px;
  display: flex;
  justify-content: center;
  
}
.img {
  width: 330px;
  max-height: 75px;
}

.img-ok {
  width: 45vw;
}

.listo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

ion-button {
  background: white !important;
  color: #514cbd !important;
  border-radius: 8px;
}


.textoAcceso {
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}


ion-footer {
  ion-toolbar {
      --background: #6b64f8;
  }
  --background: #6b64f8;
  background: #6b64f8 !important;
}

.footer-content{
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.footer-content img{
max-height: 32px;
}