<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-row style="min-height: 100%">
    <ion-col size="12" style="max-height: 200px;" class="ion-no-padding">
      <img class="img-beneficio"
      onError="this.src='./assets/img/espacio-empty.jpeg'"
        [src]="this.beneficio?.pathImage ? this.beneficio.pathImage : 'assets/img/no-image-available.png'">

    </ion-col>
    <ion-col size="12" class="ion-padding-top ion-padding-start ion-padding-end content-beneficio">
      <ion-chip *ngFor="let item of this.beneficio?.rubro" outline color="dark">
        <ion-icon name="apps"></ion-icon>
        <ion-label>{{item.rubro.nombre}}</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="12" class="ion-padding content-beneficio">
      <ion-text>
        <h1 class="ion-no-margin">{{this.beneficio?.nombre}}</h1>
        <div class="ion-margin-top descripcion" [innerHTML]="this.beneficio?.descripcion"></div>
       
      </ion-text>
    </ion-col>
    <ion-col size="12" class="ion-padding content-beneficio">
      <ion-text>
        <p *ngIf="this.beneficio?.instagram" class="ion-no-margin descripcion">Instagram: <a href="{{this.beneficio?.instagram}}" target="_blank"><b>{{this.beneficio?.instagram}}</b></a></p>
        <p *ngIf="this.beneficio?.correo" class="ion-no-margin descripcion">Correo: <a href="mailto: {{this.beneficio?.correo}}" target="_blank"> <b>{{this.beneficio?.correo}}</b></a></p>
        <p *ngIf="this.beneficio?.web" class="ion-no-margin descripcion">Web: <a href="{{this.beneficio?.web}}" target="_blank"><b>{{this.beneficio?.web}}</b></a></p>
        <p *ngIf="this.beneficio?.telefono" class="ion-no-margin descripcion">Telefono: <a href="tel: {{this.beneficio?.telefono}}" target="_blank"> <b>{{this.beneficio?.telefono}}</b></a></p>
      </ion-text>
    </ion-col>
    
  </ion-row>

</ion-content>
