ion-toolbar {
    --background: #514cbd;
}

ion-back-button,
ion-title {
    --color: white !important;
}

ion-content {
    --height: 100%;
    --background: #6b64f8;
}

.stepper {
    height: 100px;
    background-color: #514cbd;
    border-radius: 0px 0px 32px 32px;
    display: flex;
    justify-content: center;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    display: flex;
    align-items: center;
    color: #ffffff;
}

.img {
    width: 330px;
    max-height: 75px;
}

.textoAcceso {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

ion-button {
    background: white !important;
    color: #514cbd !important;
    border-radius: 8px;
}

ion-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

ion-item {
    --highlight-color-valid: #514cbd; // valid underline color
}



ion-footer {
    ion-toolbar {
        --background: #6b64f8;
    }
}

.footer-content{
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: #6b64f8;
}

.footer-content img{
  max-height: 32px;
}