<ion-header class="ion-no-border">
  <app-header titulo="Solicitudes aprobadas"></app-header>
</ion-header>

<ion-content>
  <div >
    <ion-list>
      <ion-item-divider sticky="true" style="padding: 0">
        <ion-searchbar (ionChange)="filterApproveds($event)" placeholder="Buscar" style="padding: 0" ></ion-searchbar>
      </ion-item-divider>
      <ng-container *ngFor="let item of documentacionAprobada">
      <ion-item button  (click)="gotoSolicitud(item)" *ngIf="item.estadodocumentacionId == 3">
        <ion-avatar slot="start">
          <ion-icon style="color: #38c77f;" name="checkmark-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{isManager ? item.usuario.persona.nombre : item.enviadoA}} {{isManager ? item.usuario.persona.apellido : ''}}</h2>
          </ion-text>
         
          
        </ion-label>
        <ion-note slot="end" style="text-align: right;">
          <small>{{isManager ? item.solicituddocumento.fecha : item.fecha}}</small>
          <br>
          <small>{{isManager ? item.solicituddocumento.hora : item.hora}}</small>
        </ion-note>
      </ion-item>
    </ng-container>
    </ion-list>
    <div class="empty-info" *ngIf="documentacionAprobada && !documentacionAprobada.length">
      No hay documentacion aprobada para mostrar
    </div>
  </div>
</ion-content>