
.question-title{
    background: white;
  }
  
  .question-title, .answer{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .answer{
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  
  .answer.question{
    border-bottom: none !important;
  }
  
  .answer.question b{
    color: var(--ion-color-primary);
  } 
  
  .question-config{
    height: auto;
    overflow: hidden;
    height: auto;
    transition: all .3s ease;
    max-height: 0px;
  }
  
  .question-wrapper.expanded .question-config{
    max-height: 1800px;
    transition: all .8s ease;
  }
  
  .question-wrapper{
    margin: 4px;
    transition: all .3s ease;
  }
  
  .question-wrapper.expanded{
    margin: 0px;
    transition: all .3s ease;
  }