<div  class="question-wrapper {{expanded ? 'expanded' : ''}}" >
    <div class="question-title " (click)="expanded = !expanded" >
      Pregunta {{i + 1}}
      <ion-icon *ngIf="!expanded" name="caret-down-outline"></ion-icon>
      <ion-icon *ngIf="expanded" name="caret-up-outline"></ion-icon>
    </div>
    <div class="question-config">
      <div class="answer question">
        <span> <b>{{ pregunta.titulo }}</b></span>
      </div>
      <div class="answer" *ngFor="let opcion of pregunta.opciones">
        &nbsp; {{ opcion.titulo }}
      </div>
      <div class="answer" (click)="agregarOpcion(pregunta.id)">
        + Añadir opción
      </div>
    </div>
</div>