<ion-content>
  <ion-item-divider *ngIf="encuestasRecibidas && encuestasRecibidas.length > 0">
    <ion-label>
      Encuestas
    </ion-label>
  </ion-item-divider>
 
    <ion-card *ngFor="let encuesta of encuestasRecibidas" (click)="verEncuesta(encuesta)" class="card-sup-content">

      <ion-item class="mb-1" lines="none">
        <ion-card-subtitle class="subtitle">Encuesta</ion-card-subtitle>
      </ion-item>

      <ion-card-content>
        <ion-card-title class="card-title mb-2">{{encuesta.titulo}}
        </ion-card-title>
        <ion-text>{{encuesta.descripcion}}</ion-text>
      </ion-card-content>
    </ion-card> 


  
  <ion-item-divider *ngIf="notificacionesRecibidas && notificacionesRecibidas.length > 0">
    <ion-label>
      Notificaciones
    </ion-label>
  </ion-item-divider>
  <ion-item style="background: white;" *ngFor="let notificacion of notificacionesRecibidas" (click)="verNotificacion(notificacion.notificacion.id)">
    <ion-label>
      <h1 style="font-weight: 700;">{{notificacion.notificacion.titulo}}</h1>
      <p>{{notificacion.notificacion.descripcion}}</p>
      <p>{{getFecha(notificacion.notificacion.fecha)}}</p>
    </ion-label>
  </ion-item>
  

    <div class="empty-info" *ngIf="notificacionesRecibidas && notificacionesRecibidas.length == 0 && 
    encuestasRecibidas && encuestasRecibidas.length == 0">
    No hay notificaciones para mostrar
    </div>


  
  
</ion-content>