<ion-list>
    <ion-item>
        <div class="d-flex j-between a-center w-100">
            <small >Desde</small>
            <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)="setDesde($event)"  ></ion-datetime>
        </div>
    </ion-item>
    <ion-item>
        <div class="d-flex j-between a-center w-100">
            <small >Hasta</small>
            <ion-datetime displayFormat="YYYY-MM-DD"  (ionChange)="setHasta($event)"  ></ion-datetime>
        </div>
        
    </ion-item>
    <ion-button class="w-100" color="dark" style="padding: 6px;" (click)="onSelect('tito')">Filtrar</ion-button>
</ion-list>