.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.content .up-content{
    min-height: 30vh;
    padding: 20px;
    background: white;
}

.content .up-content p{
    margin: 0;
}

.content .list-user{
    padding: 10px;
}