<ion-header class="ion-no-border">
  <app-header titulo="Notificación"></app-header>
</ion-header>

<div class="content">
  <div class="up-content">
    <h2>{{notificacion?.titulo}}</h2>
    <p>
      {{notificacion?.descripcion}} 
    </p>
    <p>
      <small> <ion-icon name="calendar-outline"></ion-icon> Fecha: {{notificacion?.fecha}}</small>
      <br>
      <small> <ion-icon name="time-outline"></ion-icon> Hora: {{notificacion?.hora}}</small>
    </p>
  </div>
  <div class="list-user" *ngIf="viewers && viewers.length > 0">
    <p>
      Visto por {{viewers.length}} usuarios
    </p>
    <ion-list>
      <ion-item *ngFor="let user of viewers">
        <ion-avatar slot="start">
          <img src="{{user.usuario.persona.avatar}}" onerror="this.src='./assets/img/logoUser.png'" >
        </ion-avatar>
        <ion-label>
          {{user.usuario.persona.nombre}} {{user.usuario.persona.apellido}}
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</div>
