.modal-espacios{
    padding: 10px;
}

.header-espacios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content-modal{
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 72px);
    overflow-y: auto;
}

.content-modal .espacio{
    width: calc(50vw - 45px);
    height: 33vw;
    margin: 3vw;
}

.content-modal .espacio .image-espacio{
    height: auto;
    background-color: white;
    background-size: cover !important;
    border-radius: 8px;
}

.content-modal .espacio .name-espacio{
    padding: 5px 0 0 5px;
    font-size: 12px;
    text-align: center;
}

.img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30vw;
    border-radius: 8px;
}

.img-wrapper img{
    min-height: 25vw;
    width: 100%;
    overflow: hidden;
    height: auto;
}