<div class="modal-espacios">
  <div class="header-espacios">
    <div class="title">
      {{titulo}}
    </div>
    <ion-button fill="clear" size="small" (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
  <div class="content-modal">
    <ng-container *ngFor="let espacio of espacios">
      <div *ngIf="espacio.espacio" (click)="gotoTurn(espacio.id, espacio.espacioId)" class="espacio">
        <div class="img-wrapper">
          <img class="image-espacio" src="{{espacio.espacio.image || './assets/img/espacio-empty.jpeg'}}" onerror="getImageEspacio()" alt="">
        </div>
        <div class="name-espacio">
          {{espacio.espacio.nombre}}
        </div>
      </div>
    </ng-container>

    <div class="empty-info" *ngIf="!espacios || (espacios && espacios.length == 0)">
      No hay espacios registrados.
  </div>

    
  </div>
</div>