<!-- TOGGLE -->
<ion-row *ngIf="!redes" color="secondary" class="redes-pupop" (click)="redesTogle()">
    <ion-col size="2">
        <ion-avatar class="image-center" style="width: 25px;height: 25px;margin-top: 2px;">
            <img [src]="this.club?.logo" />
        </ion-avatar>
    </ion-col>
    <ion-col size="8">
        <p class="titulo-toggle">{{club?.nombre}}</p>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
        <ion-icon class="redes-toggle" name="chevron-down-outline"></ion-icon>
    </ion-col>
</ion-row>

<ion-row color="secondary" *ngIf="redes" class="redes-pupop">
    <ion-col size="12" class="ion-text-center ion-margin-top">
        <ion-avatar class="image-center">
            <img [src]="this.club?.logo" />
        </ion-avatar>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
        <h4 class="titulo-club">{{club?.nombre}}</h4>
    </ion-col>
    <div class="social-medias">
        <ion-fab-button *ngIf="club?.facebook" class="fab-button-social">
            <a href="{{club?.facebook}}" target="_blank">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
        </ion-fab-button>
        
        <ion-fab-button *ngIf="club?.instagram" class="fab-button-social">
            <a href="{{club?.instagram}}" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </ion-fab-button>
        <ion-fab-button *ngIf="club?.twitter" class="fab-button-social">
            <a href="{{club?.twitter}}" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
            </a>
        </ion-fab-button>
        <ion-fab-button *ngIf="club?.email" class="fab-button-social">
            <a href="mailto: {{club?.email}}" target="_blank">
                <ion-icon name="mail"></ion-icon>
            </a>
        </ion-fab-button>
        <ion-fab-button *ngIf="club?.telefono" class="fab-button-social">
            <a href="tel: {{club?.telefono}}" target="_blank">
                <ion-icon name="call"></ion-icon>
            </a>
        </ion-fab-button>
        <ion-fab-button *ngIf="club?.telefono" class="fab-button-social">
            <a href="https://api.whatsapp.com/send?phone={{club?.telefono}}" target="_blank">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
        </ion-fab-button>
    </div>

    <ion-col size="12" class="ion-text-center">
        <ion-icon (click)="redesTogle()" class="redes-toggle" name="chevron-up-outline"></ion-icon>
    </ion-col>
</ion-row>