.redes-pupop {
    background: var(--ion-color-secondary);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112);
    border-radius: 0px 0px 16px 16px;
}

.image-center {
    margin: 0 auto;
    background: var(--ion-color-secondary-contrast);
}

.titulo-club {
    color: var(--ion-color-secondary-contrast);
    margin: 0em !important;
}

.redes-toggle {
    height: 20px;
    width: 20px;
    color: var(--ion-color-secondary-contrast);
    text-align: center;
    margin-top: 6px;
}

.titulo-toggle {
    color: var(--ion-color-secondary-contrast);
    margin-top: 5px;
    margin-bottom: 2px;
}

.social-medias{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab-button-social{
    width: 30px;
    height: 30px;
    box-shadow: none !important;
    border-radius: 50%;
    --background: var(--ion-color-secondary-contrast) !important;
    margin: 0 5px;
}

.fab-button-social ion-icon{

    color: var(--ion-color-secondary);
}

ion-fab-button {
    --box-shadow:none;
}

ion-fab-button a{
    display: flex;
    align-items: center;
    justify-content: center;
}