<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color>
      </ion-back-button>
    </ion-buttons>
    <ion-title >
      Crear Contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="stepper">
    <img class="img" src="/assets/img/crear-cuenta/crearCuentaPassword.png">
  </div>
  <div class="textoAcceso">
    Creá una contraseña segura
  </div>
  <form [formGroup]="form" (ngSubmit)="siguiente()">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" (ionFocus)="setFocus(true)" formControlName="password" autocomplete="off"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Repetir Contraseña</ion-label>
          <ion-input type="password" (ionFocus)="setFocus(true)" formControlName="repetirPassword" autocomplete="off"></ion-input>
        </ion-item>        
      </ion-card-content>
    </ion-card>
    <ion-button type="submit" class="ion-margin btnSiguiente" [disabled]="form.invalid" color="ligth" size="large" expand="block">SIGUIENTE</ion-button>
        
  </form>
</ion-content>


<ion-footer *ngIf="!focused">
  <div class="footer-content">
    <img routerLink="/login" src="/assets/img/splash/logoProClubFondoV.png">
  </div>
</ion-footer>