<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
  <div class="sup">
    <ion-searchbar [(ngModel)]="searchbar" class="searchbar" placeholder="Buscar" (ionChange)="filterList($event)">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content>

  <div class="empty-info ion-padding" *ngIf="!disciplinas || (disciplinas && disciplinas.length == 0)">
    No hay disciplinas disponibles
  </div>
  <ion-row class="ion-padding" *ngIf="disciplinas && disciplinas.length">
    <h3>Elegí un deporte para reservar</h3>
    <ion-col size="12">
      <ion-row class="ion-no-padding">
        <ion-col *ngFor="let disciplina of disciplinas" size="4">
          <ion-card (click)="mostrarPop(disciplina)" class="card ion-no-margin">
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <img class="icon-categorias" src="../../../../assets/img/disciplinas/{{disciplina.disciplina.icono}}.svg" alt="">
              </ion-col>
            </ion-row>
          </ion-card>
          <div></div>
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-label>{{disciplina.disciplina.nombre}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        
        
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
