<ion-header class="ion-no-border">
  <app-header titulo="Encuesta"></app-header>
</ion-header>

<ion-content class="content">
  <div class="up-content">
    <h2>{{encuesta?.titulo}}</h2>
    <p>
      {{encuesta?.descripcion}}
    </p>
    <ion-list>
      <ion-radio-group *ngFor="let pregunta of preguntas" value="{{respuestasDelUsuario[pregunta.id]}}">
        <ion-item-divider>
          <ion-label>
            {{pregunta?.titulo}}
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let opcion of pregunta.opciones">
          <ion-label >{{opcion.titulo}}  </ion-label>
          <small slot="end" *ngIf="!editable && isManager"> Respuestas: {{opcion.contadorDeRespuestas}}</small>
          <ion-radio *ngIf="editable" [disabled]="!editable"  slot="start" (click)="selectResponse(pregunta.id, opcion.id)" value="{{opcion.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    
  </div>
</ion-content>
<ion-footer style="padding: 10px">
  <ion-button *ngIf="editable" (click)="siguiente()" color="primary"  expand="block">
        Enviar Respuesta</ion-button>
</ion-footer>