.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.content .up-content{
    min-height: 30vh;
    padding: 20px;
    background: white;
}

.content .up-content p{
    margin: 0;
}

.content .list-user{
    padding: 10px;
}

.form {  
    .btn-holder {
      background: var(--ion-color-primary) !important;
      color: white !important;
      border-radius: 10px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px !important;
  
      &[disabled] {
        opacity: 1;
        --ion-color-base: grey;
      }
    }  
  }