/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
  --ion-color-proclub: #6b64f8;
  --ion-color-proclub-rgb: 107, 100, 248;
  --ion-color-proclub-contrast: #ffffff;
  --ion-color-proclub-contrast-rgb: 255, 255, 255;
  --ion-color-proclub-shade: #5e58da;
  --ion-color-proclub-tint: #7a74f9;
  --ion-color-primary: #6b64f8;
  --ion-color-secondary: #6b64f8;
  --ion-color-primary-contrast: white;
  --ion-color-secondary-contrast: white;
}

.ion-color-proclub {
  --ion-color-base: var(--ion-color-proclub);
  --ion-color-base-rgb: var(--ion-color-proclub-rgb);
  --ion-color-contrast: var(--ion-color-proclub-contrast);
  --ion-color-contrast-rgb: var(--ion-color-proclub-contrast-rgb);
  --ion-color-shade: var(--ion-color-proclub-shade);
  --ion-color-tint: var(--ion-color-proclub-tint);
}

.action-sheet-group.sc-ion-action-sheet-md:first-child {
  border-radius: 40px 40px 0px 0px !important;
}


.gris {
  background-color: #92949C !important;
  color: white !important;
}

.icon-card {
  position: absolute;
  bottom: -8px;
  left: 11px;
}

.action-sheet-title {
  font-size: 20px !important;
  line-height: 24px !important;
}

ion-fab-button {
  --background: var(--ion-color-primary);;
  --background-activated: var(--ion-color-primary-contrast);;
}


:root {
  --ion-color-rojo: var(--ion-color-primary);;
  --ion-color-rojo-rgb: 217, 0, 0;
  --ion-color-rojo-contrast: #ffffff;
  --ion-color-rojo-contrast-rgb: 255, 255, 255;
  --ion-color-rojo-shade: #bf0000;
  --ion-color-rojo-tint: #dd1a1a;
}

.ion-color-rojo {
  --ion-color-base: var(--ion-color-rojo);
  --ion-color-base-rgb: var(--ion-color-rojo-rgb);
  --ion-color-contrast: var(--ion-color-rojo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rojo-contrast-rgb);
  --ion-color-shade: var(--ion-color-rojo-shade);
  --ion-color-tint: var(--ion-color-rojo-tint);
}

.card {
  background: #FFFFFF !important;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.112) !important;
  border-radius: 8px !important;
}

.border-span {
  border: 1px solid rgba(34, 36, 40, 0.1);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 5px;
}
.icon-span {
  position: relative;
  top: 2px;
  left: 2px;
}

.header-container{
  background: var(--ion-color-primary);
}

.action-sheet2-container .action-sheet-group{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
}

.action-sheet-container .action-sheet-title{
  width: 100% !important;
}

.action-sheet2-container .action-sheet-group .action-sheet-button{
  width: 20vw;
  margin: 2.5vw;
  height: 20vw;
  background: red;
  border-radius: 6px;
}
ion-content{
  background: #F4F3F3;
  --background: #F4F3F3;
}

.d-flex{
  display: flex;
} 
.j-center{
  justify-content: center;
} 
.j-end{
  justify-content: flex-end;
} 
.j-start{
  justify-content: flex-start;
} 
.j-between{
  justify-content: space-between;
}
.j-around{
  justify-content: space-around;
}
.a-center{
  align-items: center;
}

.w-100{
  width: 100%;
}

.overlay-loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6B64F8;
  color: white;
  transition: all .3s ease;
}

.overlay-loading.dismissed{
  transition: all .4s ease;
  top: -100vh;
}

.action-sheet-container{
  padding: 10px;
}

.card-subtitle, .subtitle p{
      text-overflow: ellipsis !important;
      overflow: hidden !important;
      white-space: nowrap !important;
      height: 26px;
  }

  .title{
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    height: 26px;
}
  
.empty-info{
  padding: 20px;
  text-align: center;
  background: rgba(0,0,0,0.1);
  margin: 10px;
  border-radius: 8px;
  border: 2px dashed rgba(0,0,0,0.3);
  opacity: .7;
  width: calc(100% - 20px) !important;
}