#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-content {
    --height: 100%;
    --background: #f4f3f3;
}

.textoPrincipal {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 27px;
    line-height: 31px;
    text-align: center;
    color: #d90000;
    margin-bottom: 10px;
    padding: 10px;
}

.textoSecundario {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #000000;
}
