<ion-content>
  <div id="container">
    <div style="margin-top: 10px;">
      <img src="/assets/img/splash/cuentaSinVerificar.png">
    </div>

    <div class="textoPrincipal" >
      Aún el club no te verifico
    </div>
    <div class="textoSecundario">
      El club está chequeando la información
    </div>
    <div class="textoSecundario">
      y tiene que darte de alta. Esto puede
    </div>
    <div class="textoSecundario">
      demorar unas horas o incluso dias.
    </div>
    <div class="textoSecundario">
      Si tenés dudas contactacte con tu club.
    </div>
  </div>
</ion-content>
