<ion-content>
  
  <ion-item-divider *ngIf="encuestasRecibidas && encuestasRecibidas.length > 0">
    <ion-label>
      Encuestas
    </ion-label>
  </ion-item-divider>

  <ion-card *ngFor="let encuesta of encuestasEnviadas" (click)="verEncuesta(encuesta.id)" class="card-sup-content">

    <ion-item class="mb-1" lines="none">
      <ion-card-subtitle class="subtitle">Encuesta</ion-card-subtitle>
    </ion-item>

    <ion-card-content>
      <ion-card-title class="card-title mb-2">{{encuesta.titulo}}
      </ion-card-title>
      <ion-text>{{encuesta.descripcion}}</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-item-divider *ngIf="notificacionesEnviadas && notificacionesEnviadas.length > 0">
    <ion-label>
      Notificaciones
    </ion-label>
  </ion-item-divider>
  <ion-item *ngFor="let notificacion of notificacionesEnviadas" 
  (click)="verNotificacion(notificacion.id)">
    <ion-label>
      <h1 style="font-weight: 700;">{{notificacion.titulo}}</h1>
      <p>{{notificacion.descripcion}}</p>
      <p>{{notificacion.fecha}}</p>
    </ion-label>
  </ion-item>

  <div class="empty-info" *ngIf="notificacionesEnviadas && notificacionesEnviadas.length == 0 && 
  encuestasEnviadas && encuestasEnviadas.length == 0">
  No hay notificaciones para mostrar
  </div>
  
</ion-content>