<ion-header class="ion-no-border">
  <app-header titulo="Cambiar clave"></app-header>
</ion-header>

<ion-content>
  <div class="container">
    <p class="alert-clave">Esta acción enviará un mail a la casilla <b>{{email}}</b> para poder resetear tu clave</p>
    
  </div>
</ion-content>
<ion-footer class="ion-padding-start ion-padding-end">
  <ion-button [disabled]="!email" (click)="saveChanges()" expand="block"  color="primary">
    Enviar
  </ion-button>
</ion-footer>