<ion-header>
  <ion-toolbar color="primary" class="toolbar ion-no-border">
    
    <ion-title>Agregar deporte</ion-title>
    <ion-buttons  slot="end" class="ion-no-margin">
      <ion-button  (click)="dismiss()">
        <ion-icon name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-select style="width: 100%"  cancelText="Cancelar" [(ngModel)]="disciplina" (ionChange)="cambioDisciplina($event)" interface="action-sheet"
      placeholder="Disciplina">
      <ion-select-option *ngFor="let disciplina of listDisciplinas" [value]="disciplina">
        {{disciplina.disciplina.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="divisiones">
    <ion-select style="width: 100%" cancelText="Cancelar" (ionChange)="cambioDivision()" [(ngModel)]="division" interface="action-sheet"
      placeholder="División">
      <ion-select-option *ngFor="let division of divisiones" [value]="division">{{division?.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="posiciones">
    <ion-select style="width: 100%"  cancelText="Cancelar" [(ngModel)]="posicion" (ionChange)="cambioPosicion()" interface="action-sheet" placeholder="Posición">
      <ion-select-option *ngFor="let posicion of posiciones" [value]="posicion">{{posicion?.nombre}}
      </ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>
<ion-footer style="padding: 10px">
  <ion-button [disabled]="!disciplina || !division || !posicion" (click)="addDeporte()" color="primary" fill="block">Aceptar</ion-button>
</ion-footer>