.modal-espacios{
    padding: 10px;
}

.header-espacios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content-modal{
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 72px);
    overflow-y: auto;
}

.content-modal .espacio{
    width: calc(50vw - 34px);
    height: 30vw;
    margin: 3.2vw;
}

.content-modal .espacio .image-espacio{
    height: 25vw;
    background-color: white;
    background-size: cover !important;
    border-radius: 8px;
}

.content-modal .espacio .name-espacio{
    padding: 2px 0 0 5px;
    font-size: 12px;
    text-align: center;
}

.empty{
    background: rgba(0,0,0,0.1);
    padding: 4vw;
    text-align: center;
    border-radius: 8px;
    border: 2px dashed rgba(0,0,0,0.2);
    height: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}