<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content >
    <div class="container" *ngIf="turno && esp">
      <div  class="turno">
        <div class="up-content">
          <div class="img-wrapper">
            <img  src="{{esp?.image}}" alt="">
          </div>
          <div class="text-content">
            <small >{{esp?.nombre}}</small>
            <b class="d-flex"> <ion-icon name="calendar-outline"></ion-icon> Fecha: {{ turno ? getFecha(turno.fechaInicio) : ''}}</b>
            <p class="d-flex"><ion-icon name="time-outline"></ion-icon>{{turno?.desde}} - {{turno?.hasta}}</p>
          </div>
        </div>
        <div class="down-content">
          <div class="header">
            <strong>!</strong>
          
            <b>Recordatorio</b>
          </div>
          <div class="text-content">
            <p>La reserva es de {{turno ? getHourDiff(turno) : ''}} minutos</p>
            
            <p>El valor del turno es de ${{esp?.valor}}.-
             <i>(se deberá abonar al asistir al turno
              en la mesa de entrada)</i> </p>
          </div>
        </div>
        
      </div>
    </div>
   

    <ion-button *ngIf="turno?.activo == 0" (click)="confirmarTurno()"  class="ion-margin btn-confirm"  expand="block">CONFIRMAR TURNO</ion-button>
    <ion-button *ngIf="turno?.activo == 1" (click)="cancelarTurno()"  class="ion-margin btn-cancel"  expand="block">CANCELAR TURNO</ion-button>


</ion-content>