<ion-header class="ion-no-border">
  <app-header [titulo]="titulo"></app-header>
</ion-header>

<ion-content>
  <ion-toolbar class="toolbar-text">
    <ion-grid>
  
      <ion-row>
        <ion-col class="ion-no-padding d-flex a-center">
          <span > Titulo y descripción </span>
          <ion-icon  name="chevron-forward-outline"></ion-icon>
          <span >Preguntas </span>
          <ion-icon  name="chevron-forward-outline"></ion-icon>
          <span > Destinatarios  </span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <span class="span-1"> Enviar </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>



    <div class="resume-wrapper">
      <div class="header">
        <p>Encuesta {{ titulo }}</p>
        <small class="muted">{{descripcion}}</small>
      </div>
      <div class="questions">
        <div *ngFor="let pregunta of preguntas; let i = index" style="margin-bottom: 10px;">
          
            <p><b>{{i + 1}}  {{ pregunta.titulo }}</b></p>
            <div *ngFor="let opcion of pregunta.opciones" style="padding-left: 10px;">-{{opcion.titulo}}</div>
        
        </div>
      </div>
    </div>
    <br>
    <div class="resume-wrapper">
      <p>Destinatarios: <b>{{ destinatarios.length }} usuarios</b></p>
    </div>
 
    
    


</ion-content>
<ion-footer style="padding: 10px">
  <ion-button color="primary" expand="block" (click)="siguiente()">ENVIAR
  </ion-button>
</ion-footer>