<ion-content>
  <ion-row>
    <ion-col size="12" *ngFor="let item of inactivos" >
      <ion-row>
        <ion-col size="1">
          <div class="logo-deporte">
            
            <img class="icon-categorias football-icon" src="{{getEspacioById(item.espacioId)?.image}}"  alt="">
          </div>
        </ion-col>
        <ion-col size="11">
          <div class="deportes">
            <div class="text-container">
              <h6 class="ion-no-margin"><b> <ion-icon name="calendar-outline"></ion-icon> {{ getFecha(item.fechaInicio) }}</b></h6>
              <small class="d-flex a-center" style="padding: 3px 0"> <ion-icon name="time-outline" style="margin-right: 4px"></ion-icon> De {{ getHour(item.desde) }} a {{ getHour(item.hasta) }} hs</small>
              <p class="ion-no-margin">
                {{getEspacioById(item.espacioId)?.nombre}}
              </p>
             
            </div>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-col>

    <div class="empty-info" *ngIf="!inactivos || (inactivos && inactivos.length == 0)">
      No hay turnos para mostrar.
  </div>


    
  </ion-row>

</ion-content>
